/** 
 * Theme Name: Time Child
 * Theme URI: http://themes.kubasto.com/time/
 * Description: Time is a responsive, Retina-ready, premium WordPress theme.
 * Author: Kuba Sto
 * Author URI: http://themes.kubasto.com
 * Template: time
 * Version: 1.0
 */

/**
 * @package    WordPress
 * @subpackage Time
 * @since      1.0
 */

@import url("../time/style.css");
/*************************************************************
			   		 	TYPOGRAPHY
**************************************************************/




body, input, select, textarea, button, .button { font-family: inherit !important; }
h1, h2 { color: #414141; }
h2 { font-size: 21px !important; }
h3 { font-size: 18px !important; }
.page .main p, .single .main p, .main { font-size: 16px; line-height: 26px; }
.toggles h3 { font-size: 16px !important; padding-top: 1%; padding-bottom: 1%; }
/* Front Page Excerpts */
.home h3 { font-size: 1.15em !important; line-height: 1.2em; font-weight: normal; margin-bottom: 0; }
.home .main p { font-size: 13px; line-height: 19px; }
.home .main p.small { font-size: 12px; line-height: 17px; }
p.author-bio { font-size: 14px !important; line-height: 24px !important; }
.main section { padding-bottom: 30px; }
div.storify { padding-bottom: 200px; } /* Social Leader Fix */
.home article, .main section { padding-bottom: 30px; }
.archive article { padding-bottom: 10px; }
.darkgray { color: #4e4e4e; }
.blue { color: #0092b7; }
.light_blue { color: #28aadc; }
a { color: #28aadc; }
.button:hover, .button:focus { opacity: 0.7; }
blockquote { font-family: Georgia, serif; font-style: italic; font-size: 18px; line-height: 28px; background-color: #eee; padding: 8px 15px; margin-left: 10px; margin-right: 10px; border-left: 2px solid #ccc; }
blockquote p { font-family: Georgia, serif; font-style: italic; font-size: 18px !important; line-height: 28px !important; }
blockquote p, blockquote p strong { font-weight: normal !important }
blockquote.bar { border-color: #28aadc; background-color: #fff; }
hr { color: #eee; }
cite { font-size: .9em; color: #767676; }
cite::before { content: ''; display: table; }
#menu-main-menu-1 li { padding-left: 10px; padding-right: 10px; }
.link_title1:hover, .link_title:focus { color: #0092b7; opacity: 0.8; text-transform: none; }
.author-archive { margin-top: 0; }
.avatar-150 { padding: 3px; border: 2px solid #cdcdcd; }
.readmore { font-size: 11px; line-height: 16px; text-transform: uppercase; }
a img:hover, a img:focus { opacity: .8; }
.dropcap { font-family: Georgia, serif; }
.fourth_slide_left { text-align: center; line-height: 17px; margin-top: 16px; }
.fourth_slide_left .big_heading { font-size: 60px; font-weight: 700; color: #222; }
.fourth_slide_left .small_heading { font-size: 24px; font-weight: 300; color: #222; line-height: 25px; }
.fourth_slide_left h3 { font-size: 20px; color: #333; margin: 0px; }
.homepagevd { position: relative; left: -87px; top: -17px; }
.ls-video-layer iframe { position: absolute; top: 0px; left: 0px; }
.homesldvd {/*background: url("img/lpbghome.png") no-repeat;width:444px;height:253px;*/ }
.homesldvd img { width: 444px !important; }
/*.homesldvd iframe {width:444px !important;height:253px !important;}*/



.under-container { overflow: inherit; }
/**************************************************************
						speaking  start here
**************************************************************/
.top_image_speaking_slider_bottom { margin-bottom: 44px; margin-top: 50px; }
.top_image_speaking_slider_bottom h1 { font-size: 40px; margin-bottom: 0px; }
.top_image_speaking_slider_bottom h3 { font-size: 25px !important; margin-top: 0 !important; margin-bottom: 16px; color: #6f7074 }
.speakers_header p { font-size: 28px ! important; color: rgb(255, 255, 255); padding: 13px 30px; background-color: #6f7074 }
.single_speaker { padding: 30px; }
.single_speaker .speaker_right { padding: 0px; border-left: 0px; }
.speaker_right a h2 { font-size: 24px; color: #28aadc; font-size: 24px; }
.speaker_right a:hover { text-decoration: none; outline: none; }
.speaker_right a:focus { text-decoration: none; text-decoration: none; outline: none !important; }
.speaker_right .speaker_content { color: #6f7074; padding: 15px 0; }
.speaker_videos { border-top: 1px solid #d9d9d9; clear: both; margin: 0; padding: 15px 0; width: 100%; }
.speaker_videos h3 { font-size: 20px !important; font-variant: normal; color: #4b4b4b; }
.speaker_videos .btn { float: right; margin-top: 20px; background-color: #28acdc; border: none; }
.profile_image { border-radius: 50%; background-color: #fff; height: 250px; width: 250px; overflow: hidden; text-align: center; vertical-align: middle; display: table-cell; border: solid 1px #ccc; }
.follow_me { text-align: center; margin-top: 21px; width: 90%; margin-bottom: 25px; }
.follow_me a { border: 1px solid rgb(204, 204, 204); padding: 5px; font-weight: bold; font-size: 22px; }
.follow_me a:hover { text-decoration: none; }
.follow_me h3 { color: #343434; font-size: 22px; font-weight: lighter; margin-bottom: 30px; }
.speakerrow:nth-child(odd) { background: #f1f1f1 !important }
.speakerrow:nth-child(even) { background: #fff !important; }
.speaker_videos .single_video { padding-left: 0px !important; }
.speaker_videos .single_video:last-child { padding-right: 0px !important; }
.speaker_videos_category { padding: 15px; }
.speaker_videos_category .speaker_name { padding: 15px; color: #28aadc; font-size: 24px; }
.sliderspesking { padding: 0px !important; }
.banner_image { margin: 0px;background-size: cover; background-size: inherit; background-repeat: no-repeat; }
.banner_textsingle { width: 50%; margin-top: 80px; }
.banner_textsingle h2 { font-size: 62px !important; color: #fff; text-transform: uppercase; }
.banner_textsingle p { font-size: 22px; color: #fff; }
.banner_textsingle p strong { font-size: 28px; color: #fff; font-weight: 500; }
.banner_textsingle span { font-size: 20px; padding: 5px 10px; display: inline-block; margin-top: 5px; background: rgba(255,255,255,0.3); color: #fff; font-weight: bold; }
nav.primary .search { width: 190px; }
#wonderplugincarousel-1 blockquote { color: #6e6f73 !important; font-style: italic !important; border-left: none !important; background-color: transparent !important; font-size: 16px !important; font-family: inherit !important; line-height: 27px !important; width: 70%; display: inline-block; }
#wonderplugincarousel-1 .amazingcarousel-image img { width: 180px !important; height: 180px !important; border-radius: 50% !important; border: solid 1px #ccc !important; }
#wonderplugincarousel-1 cite { font-size: 28px !important; font-style: normal !important; color: #28aadc !important; font-weight: normal !important; margin: 20px 0px !important; font-family: inherit !important; }
#wonderplugincarousel-1 .amazingcarousel-prev { left: 30% !important; top: 38% !important; }
#wonderplugincarousel-1 .amazingcarousel-next { right: 30% !important; top: 38% !important; }
.speaker_desc { background-image: url("./img/speaker_desc_shadow.png"); background-repeat: no-repeat; background-position: bottom center; padding: 45px !important; font-size: 16px; width: 85%; margin: 0px auto; margin-bottom: 45px; }
.speaker_contact .contact_photos_title { background-color: #6f7074; padding: 20px; color: #fff; }
.speaker_contact { border-right: solid 1px #b7b8ba; padding-right: 0px }
.speaker_contact .first_title { font-weight: lighter !important; }
.speaker_contact .contact_photos_title h1 { margin: auto !important; color: #fff; }
.speaker-products { padding-left: 0px; }
.brite-events-row { margin-left: 0px; }
.speaker-products .contact_photos_title { min-height: 96px; background-color: #6f7074; padding: 20px; color: #fff; }
.speaker-products .contact_photos_title .first_title { color: #fff; }
.speaker_contact .contact_form { padding: 20px; }
.speaker_contact .contact_form input, textarea { width: 100%; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: transparent; border: solid 1px #cdcfcf; height: 38px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.speaker_contact .contact_form p { font-size: 15px; }
.wpcf7-recaptcha div { width: 100% !important }
div#wonderplugincarousel-container-1 { border-top: solid 1px #b7b8ba; margin: 15px; }
.amazingcarousel-bullet-list { display: none; }
.speaker_contact .wpcf7-submit { background: #28aadc !important; color: #fff !important; font-size: 16px !important; padding: 10px 30px !important; height: inherit !important; width: 136px !important; display: block !important; border: none !important; margin: 0px auto !important; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.speaker_contact .wpcf7-submit:focus { box-shadow: none; }
.brite-events-row .row { margin: 0px; }
.products-row { padding: 15px; }
.speaker-detail-social-icons { clear: both; float: right; width: 52%; background-color: #fff; }
.speaker-detail-social-icons .left-social-icons span { font-size: 20px; }
.right-social-icons{ float:left; margin-left:14px;}
.speaker-detail-social-icons .left-social-icons {
    color: #fff;
    font-weight: lighter;
    background-image: url(img/arrow.png.pagespeed.ce.rpa6AZbNUg.png);
    background-repeat: no-repeat;
    background-position: left center;
    width: 50%;
    float: left;
    width: 51%;
    padding: 21px 25px;
    height: 70px;}
.right-social-icons_banner li { list-style: none; margin:7px 8px; }
.right-social-icons_banner .twiiter_li{border: 1px solid #2caae1; border-radius: 50%;}
.right-social-icons_banner .twiiter_li a{ color:#2caae1;}

.right-social-icons_banner .gplus_li{border: 1px solid #007bb6; border-radius: 50%;}
.right-social-icons_banner .gplus_li a{ color:#007bb6;}  

.right-social-icons_banner .facebook_li{border: 1px solid #3b579d; border-radius: 50%;}
.right-social-icons_banner .facebook_li a{ color:#3b579d;}  

.right-social-icons_banner li a {border-radius: 50%; display: table-cell; font-size: 25px; height: 50px; padding: 15px; text-align: center; vertical-align: middle; width: 50px; }


/*************************************** ***********************
						speaking end here
**************************************************************/



/**************************************************************
						SLIDESHOW
**************************************************************/

.slide_shadow { text-shadow: 1px 1px 3px rgba(0,0,0,0.4); }
/**************************************************************
					AUTHOR BIO BOX 
**************************************************************/

#author-bio-box { background: none !important; border-top: none !important; border-bottom: none !important; padding: 0 !important; margin: 0 !important; }
.author_bio_name { font-size: 16px; margin-top: 0; }
.author_bio_description { font-size: 13px !important; line-height: 20px !important; }
.author_social_links i { display: inline !important; float: left !important; font-size: 1.2em; margin-right: -11px; }
.author_social_links br { display: none !important; }
.author_social_links i:hover { opacity: 0.8; }
.main #author-bio-box { display: none; }

@media only screen and (max-width: 768px) {
.main #author-bio-box { display: block !important; border-top: 1px solid #ccc !important; }
.main #author-bio-box h3 { margin-top: 10px; }
.widget #author-bio-box { display: none !important; }
}
/**************************************************************
							FOOTER
**************************************************************/

.textwidget, .widget-unwrapped-text { padding-right: 10%; }
.textwidget p, .widget-unwrapped-text p { color: #949494; }
/**************************************************************
						 CONTACT FORMS
**************************************************************/

.main .contact-form { margin-top: 15px; margin-bottom: 25px; padding-left: 25px; border-left: 2px solid #eee; margin-left: 15px; }
.main .contact-form button, .main .contact-form .button { box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.85); border-color: #0092b7 !important; background-color: #28aadc; }
.main .contact-form input[type="submit"], .main .contact-form input[type="reset"], .main .contact-form input[type="button"], .main .contact-form button, .main .contact-form .button, #speakerForm input[type="submit"], #speakerForm input[type="reset"] { box-shadow: 0 1px 0 0 rgba(40,170,220,0.6) inset, 0 1px 0 0 rgba(0,146,183,0.8); border-color: #0092b7 !important; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #28aadc), color-stop(100%, #0092b7)); background: linear-gradient(to bottom, #28aadc 0%, 0092b7 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0 );
text-shadow: 0 1px #28aadc; color: #eee; }
.main .contact-form input[type="submit"]:hover, .main .contact-form input[type="reset"]:hover, .main .contact-form input[type="button"]:hover, .main .contact-form button:hover, .main .contact-form .button:hover, #speakerForm input[type="submit"]:hover, #speakerForm input[type="reset"]:hover { color: #ccc; }
.main .contact-form input[type="submit"]:active, .main .contact-form input[type="reset"]:active, .main .contact-form input[type="button"]:active, .main .contact-form button:active, .main .contact-form .button:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ccfff), color-stop(100%, #34aacf)); background: linear-gradient(to bottom, #5ccfff 0%, #34aacf 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ccfff', endColorstr='#34aacf', GradientType=0 );
}
.main .contact-form input[type="submit"] > i, .main .contact-form input[type="reset"] > i, .main .contact-form input[type="button"] > i, .main .contact-form button > i, .main .contact-form .button > i { text-shadow: 0 1px #ccc, 0 -1px rgba(0,146,183,0.7); }
.main .contact-form input[type="submit"]:disabled, .main .contact-form input[type="reset"]:disabled, .main .contact-form input[type="button"]:disabled, .main .contact-form button:disabled, .main .contact-form .button.disabled { color: #eee; text-shadow: 0 1px rgba(255, 255, 255, 0.7); cursor: default; }
.main .contact-form textarea { height: 200px; }
 .placeholder, ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
 color: #9a9a9a;
}
#bottom input, #bottom select, #bottom textarea, #bottom button, #bottom .button { box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.85); border-color: #0092b7 !important; background-color: #28aadc; }
#bottom input[type="submit"], #bottom input[type="reset"], #bottom input[type="button"], #bottom button, #bottom .button { box-shadow: 0 1px 0 0 rgba(40,170,220,0.6) inset, 0 1px 0 0 rgba(0,146,183,0.8); border-color: #d6d6d6; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #28aadc), color-stop(100%, #0092b7)); background: linear-gradient(to bottom, #28aadc 0%, 0092b7 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0 );
text-shadow: 0 1px #28aadc; color: #eee; }
#bottom input[type="submit"]:hover, #bottom input[type="reset"]:hover, #bottom input[type="button"]:hover, #bottom button:hover, #bottom .button:hover { color: #ccc; }
#bottom input[type="submit"]:active, #bottom input[type="reset"]:active, #bottom input[type="button"]:active, #bottom button:active, #bottom .button:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #f6f6f6)); background: linear-gradient(to bottom, #e4e4e4 0%, #f6f6f6 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f6f6f6', GradientType=0 );
}
#bottom input[type="submit"] > i, #bottom input[type="reset"] > i, #bottom input[type="button"] > i, #bottom button > i, #bottom .button > i { text-shadow: 0 1px #ccc, 0 -1px rgba(0,146,183,0.7); }
#bottom input[type="submit"]:disabled, #bottom input[type="reset"]:disabled, #bottom input[type="button"]:disabled, #bottom button:disabled, .button.disabled { color: #eee; text-shadow: 0 1px rgba(255, 255, 255, 0.7); cursor: default; }
#bottom input:not([type="submit"]):not([type="reset"]):not([type="button"]), #bottom select, #bottom textarea, #bottom button, #bottom .button { box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.85) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.1); border-color: #323232; background-color: #28aadc; }
 #bottom .placeholder, #bottom ::-webkit-input-placeholder, #bottom :-moz-placeholder, #bottom :-ms-input-placeholder {
 color: #949494;
}
#bottom input:not([type=submit]):not([type=reset]):not([type=button]), #bottom textarea { background-color: #7b7b7b; color: #000; padding-left: 9px; }
#bottom input[type=text], #bottom textarea { width: 250px !important; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, select:focus { border-size: 1px !important; border-color: #28aadc !important; -webkit-box-shadow: 0 0 1px rgba(40,170,220,0.7) !important; box-shadow: 0 0 1px rgba(40,170,220,0.7) !important; }

:-moz-placeholder, .wp-core-ui :-moz-placeholder {
 color: #949494;
}
/* Contact Page */
.main input:not([type="submit"]):not([type="reset"]):not([type="button"]) { width: 400px; }
.main textarea { width: 500px; }
.home .button.big { font-size: 16px !important; }
/* Captcha */
.contact-form p:nth-child(6) input { width: 40px !important; }
#bottom .contact-form p:nth-child(6) input { width: 30px !important; }
/**************************************************************
						ARCHIVES
**************************************************************/

.archive_list { list-style-type: none !important; padding-top: 15px; padding-left: 0 !important; margin-left: 0 !important; }
.archive_h2 { margin-bottom: 0 !important; }
.archive_list p { font-size: 14px; line-height: 24px; margin-top: 0; }
.archive_credit { margin-top: 0; font-size: 12px !important; line-height: 20px !important; }
.archive_list img { float: left; padding-right: 15px; padding-bottom: 15px; }
/* Breadcrumb Page Navigation on Archives */
.wp-pagenavi { padding-bottom: 20px; padding-left: 15px; }
.wp-pagenavi .pages { letter-spacing: -0.08em; }
.wp-pagenavi a { font-size: 13px; }
/* Fix a space on Archive Pages when no featured image */
article figure.alignleft.fixed { margin-right: 0; }
article figure.alignleft.fixed img { margin-right: 18px; }
/* Human Side TV, WTM Podcast 2-Column Archive */
.page-template-the_human_side_tv-php .archive_list, .page-template-work_matters-php .archive_list { padding-top: 0; }
.page-template-the_human_side_tv-php .archive_list hr, .page-template-work_matters-php .archive_list hr { display: none; }
.page-template-the_human_side_tv-php .archive_list li:nth-child(odd), .page-template-work_matters-php .archive_list li:nth-child(odd) { width: 49%; padding-right: 1%; }
.page-template-the_human_side_tv-php .archive_list li:nth-child(even), .page-template-work_matters-php .archive_list li:nth-child(even) { width: 49%; padding-left: 1%; }
.page-template-the_human_side_tv-php .archive_list li, .page-template-work_matters-php .archive_list li { float: left; display: inline; height: 350px; }

@media only screen and (max-width: 980px) {
.page-template-the_human_side_tv-php .archive_list li:nth-child(odd),  .page-template-work_matters-php .archive_list li:nth-child(odd) { width: 48%; padding-right: 2%; }
.page-template-the_human_side_tv-php .archive_list li:nth-child(even),  .page-template-work_matters-php .archive_list li:nth-child(even) { width: 48%; padding-left: 2%; }
}

@media only screen and (max-width: 768px) {
.page-template-the_human_side_tv-php .archive_list li,  .page-template-work_matters-php .archive_list li { height: 320px; }
.page-template-the_human_side_tv-php .archive_list li p,  .page-template-work_matters-php .archive_list li p { font-size: 13px; line-height: 19px; }
}

@media only screen and (max-width: 480px) {
.page-template-the_human_side_tv-php .archive_list li,  .page-template-work_matters-php .archive_list li { height: auto; }
.page-template-the_human_side_tv-php .archive_list li:nth-child(odd),  .page-template-work_matters-php .archive_list li:nth-child(odd) { width: 100%; padding-right: 0; }
.page-template-the_human_side_tv-php .archive_list li:nth-child(even),  .page-template-work_matters-php .archive_list li:nth-child(even) { width: 100%; padding-left: 0; }
.page-template-the_human_side_tv-php .archive_list hr,  .page-template-work_matters-php .archive_list hr { display: block; }
}
/* Inline image on a post */
.single article figure.alignleft.fixed { margin-right: 15px; }
/* Author Bios on Page in Columns */
.no_break_wrapper br { display: none; }
.columns hr { display: none; }
/* A World Gone Social Page */
.sample_chapter_wrapper { background-color: rgb(203, 4, 37); color: #fff; text-align: center; padding: 25px 15px; }
.sample_headline { color: #fff; }
.sample_chapter_wrapper .button { color: #eee; box-shadow: none !important; border-color: #1a1a1a !important; background: #1a1a1a !important; background-color: #1a1a1a !important; font-weight: normal !important; }
.page-id-4323 blockquote.bar { border-color: rgb(203, 4, 37); }
.sample_chapter_wrapper .button:hover { opacity: 1; border-color: #383838 !important; background: #383838 !important; background-color: #383838 !important; }
.sample_chapter_wrapper img:hover { opacity: .9; }
/* Search Page */
.search .main nav { display: none; }/* Turns off extra secondary menus appearing on resutls */
.search .main .section, .search .main article { padding-top: 5px; padding-bottom: 5px; }
.search .main .post { margin-top: 10px; margin-bottom: 10px !important; }
.pagination:last-child { margin-top: 5px; margin-bottom: 10px; }
/**************************************************************
					   AUTHOR ICONS/BUTONS
**************************************************************/

#author-bio-box {
*zoom:1; margin: 10px 0; padding: 10px }
#author-bio-box:after { content: ""; display: table; clear: both }
#author-bio-box * { margin: 0; padding: 0 }
#author-bio-box h3, #author-bio-box .bio-description { margin-bottom: 10px }
#author-bio-box h3 a, #author-bio-box .bio-description a { text-decoration: none }
#author-bio-box p { margin-bottom: 5px }
#author-bio-box .bio-gravatar { float: left }
#author-bio-box .bio-gravatar img { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background: #fff; border: 1px solid #ccc; margin-right: 15px; padding: 3px }
.author_wrapper ul { list-style-type: none; margin-top: 0; margin-bottom: 4px; } /* Social Media Icons */
.author_wrapper li { display: inline; }
.bio-icon {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; background-color: transparent; background-image: url("./img/sprite.png"); background-repeat: no-repeat; display: inline-block; margin-right: 3px; height: 16px; width: 16px; text-indent: 100%; white-space: nowrap; overflow: hidden; }
.bio-icon:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7 }
.bio-icon-twitter { background-position: 0 0 }
.bio-icon-facebook { background-position: -16px 0 }
.bio-icon-googleplus { background-position: -32px 0 }
.bio-icon-linkedin { background-position: -48px 0 }
.bio-icon-website { background-position: -64px 0 }
.bio-icon-flickr { background-position: -80px 0 }
.bio-icon-tumblr { background-position: -96px 0 }
.bio-icon-vimeo { background-position: -112px 0 }
.bio-icon-youtube { background-position: -128px 0 }
/**************************************************************
						SPEAKERS
**************************************************************/

figcaption { font-size: 13px; line-height: 18px; color: #0092b7; }
figure figcaption { text-align: left; }
.page-template-speakers-php .columns li .embed { margin-top: 0; }
.speaker_right { border-left: 1px solid #ddd; padding-left: 20px; }
.speaker_right h1 { margin-top: 0 !important; f
}
.speaker_right p { margin-top: 0 !important; margin-bottom: 2px !important; line-height: 22px !important; }
.speaker_name { margin-bottom: 0 !important; }
p.speaker_subhead { font-style: italic; margin-bottom: 10px !important; }
.speaker_right ul, .speaker_right ol { margin-top: 0 !important; margin-bottom: 12px !important; line-height: 22px; }
.speaker_info_wrapper { padding-left: 2%; padding-right: 2%; }
h2.speaker_info_head { text-align: center; margin-top: 10px; }
.no_margin { margin-top: 0; margin-bottom: 0; }
.speaker_box p, .speaker_box ul, .speaker_box h1, .speaker_box h2 { margin-top: 0; margin-bottom: 0; }
.speaker_box h2 { font-weight: normal; font-style: italic; }
.speaker_box .columns { margin-top: 0; margin-bottom: 10px; }
.speaker_print { padding-right: 15px; text-align: right; }
.speaker_print .button { font-weight: bold !important; }
.speaker_box figure { margin-bottom: 0; margin-left: 8px; margin-right: 8px; } /* Badges */
.speaker_box hr { margin-top: 10px; margin-bottom: 13px; }
.page-template-speakers-php .headline { display: none; }
/**************************************************************
						SPEAKER FORM
**************************************************************/

#speakerForm { background-color: #fdfdfd; width: 700px; margin: 0 auto; padding: 20px; border: 1px solid #b8b8b8; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0px 0px 4px 0px #cfcfcf; box-shadow: 0px 0px 4px 0px #cfcfcf; }
#speakerForm p { margin-bottom: 10px; }
#speakerForm label { width: 200px !important; float: left; }
#speakerForm .label_break { float: none; }
#speakerForm input[type=text], #speakerForm input[type=email] { font-size: 16px; padding: 16px 8px; width: 500px; }
@-moz-document url-prefix() {
 #speakerForm input[type=text], #speakerForm input[type=email] {
 padding: 0 8px;
 height: 36px;
}
}
#speakerForm select { font-size: 16px; height: 70px; }
#speakerForm textarea { font-size: 16px; padding: 8px 8px; width: 500px; height: 160px; }
#speakerForm input[type=checkbox] { width: 25px; top: 0; }
.form_other { width: 60px; float: left; margin-left: 25px; }
.speaker_other { margin-left: 25px; }
.page-template-speakers-php .avatar img { width: 210px; height: 210px; }
#speakerForm .catpcha_wrapper input[type=text] { padding: 0 8px; }
.page-template-speakers-php .success, .page-template-speakers-php .error { text-align: center; margin-top: 10px; margin-bottom: 10px; font-weight: bold; font-size: 20px; }
.page-template-speakers-php .error { color: red; }

@media only screen and (max-width: 768px) {
#speakerForm { width: 90%; }
#speakerForm label { width: 100% !important; float: none !important; }
#speakerForm input[type=text], #speakerForm input[type=email], #speakerForm textarea, #speakerForm select { width: 100%; }
.other_textfield { margin-right: 20px; }
}

@media print {
.video_embed, form, #bottom, nav, .speaker_print { display: none; }
}
/* Video Page. This removes weird break in columns with videos */
.page-id-4339 .main br { display: none !important; }
/* Turning off Category Tags at the bottom of Home Page Entries */
.home .columns .small.alt { display: none; }
/* Removing padding on bottom of Logo Scroller on Home Page */
.home .main .section { padding-bottom: 0; }
/* Recognition Widget */
#text-11 .textwidget { text-align: center !important; padding-right: 0 !important; }
#text-11 .textwidget a { display: block !important; }
#text-11 .textwidget a, #text-11 .textwidget img { text-align: center !important; }
div.storify { overflow-y: scroll; padding-bottom: 0; border-bottom: 1px solid #eee; } /* Social Leader Fix */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.fourth_slide_left { line-height: 5px; margin-top: 25px; }
.fourth_slide_left .big_heading { font-size: 40px; }
.fourth_slide_left .small_heading { font-size: 20px; }
.homepagevd img { display: none; }
}

@media only screen and (max-width: 767px) {
.fourth_slide_left { line-height: 5px !important; margin-top: 25px; }
.fourth_slide_left .big_heading { font-size: 12px !important; }
.fourth_slide_left .small_heading { font-size: 11px; line-height: 17px; }
.homepagevd img { display: none; }
.fourth_slide_left h3 { font-size: 13px; }
.fourth_slide_left { }
}
