/** 
 * Theme Name: Time Child
 * Theme URI: http://themes.kubasto.com/time/
 * Description: Time is a responsive, Retina-ready, premium WordPress theme.
 * Author: Kuba Sto
 * Author URI: http://themes.kubasto.com
 * Template: time
 * Version: 1.0
 */

/**
 * @package    WordPress
 * @subpackage Time
 * @since      1.0
 */

@import url("../time/style.css");
/*************************************************************
			   		 	TYPOGRAPHY
**************************************************************/



p { font-size: 13px; color: #6f7074; }
h1, h2 { color: #414141; }
.btn{background-color: #28aadc;
    border-color: #323232;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.85) inset, 0 1px 0 0 rgba(0, 0, 0, 0.35);}
h3 { font-size: 18px !important; }
.page .main p, .single .main p, .main { font-size: 16px; line-height: 26px; }
/*.page .main p, .single .main p, .main { font-size: 16px; line-height: 26px; margin: 0; overflow: hidden; padding: 5px 10px 10px 10px; text-overflow: ellipsis; white-space: nowrap; width: 210px; }*/
.woocommerce ul.products li .product p { margin: 0; overflow: hidden; padding: 5px 10px 10px 10px; text-overflow: ellipsis; white-space: nowrap; width: 210px; }
.toggles h3 { font-size: 16px !important; padding-top: 1%; padding-bottom: 1%; }
/* Front Page Excerpts */
.home h3 { font-size: 1.15em !important; line-height: 1.2em; font-weight: normal; margin-bottom: 0; }
.home .main p { font-size: 13px; line-height: 19px; }
.home .main p.small { font-size: 12px; line-height: 17px; }
p.author-bio { font-size: 14px !important; line-height: 24px !important; }
.main section { padding-bottom: 30px; }
div.storify { padding-bottom: 200px; } /* Social Leader Fix */
.home article, .main section { padding-bottom: 30px; }
.archive article { padding-bottom: 10px; }
.darkgray { color: #4e4e4e; }
.blue { color: #0092b7; }
.light_blue { color: #28aadc; }
a { color: #28aadc; }
.button:hover, .button:focus { /*opacity: 0.7;*/ }
blockquote { font-family: Georgia, serif; font-style: italic; font-size: 18px; line-height: 28px; background-color: #eee; padding: 8px 15px; margin-left: 10px; margin-right: 10px; border-left: 2px solid #ccc; }
blockquote p { font-family: Georgia, serif; font-style: italic; font-size: 18px !important; line-height: 28px !important;color:#8eb7b7; }
blockquote p, blockquote p strong { font-weight: normal !important }
blockquote.bar { border-color: #28aadc; background-color: #fff; }
hr { color: #eee; }
cite { font-size: .9em; color: #767676; }
cite::before { content: ''; display: table; }
#menu-main-menu-1 li { padding-left: 8px; padding-right: 8px; }
.link_title1:hover, .link_title:focus { color: #0092b7; opacity: 0.8; text-transform: none; }
.author-archive { margin-top: 0; }
.avatar-150 { padding: 3px; border: 2px solid #cdcdcd; }
.readmore { font-size: 11px; line-height: 16px; text-transform: uppercase; }
a img:hover, a img:focus { opacity: .8; }
.dropcap { font-family: Georgia, serif; }
.fourth_slide_left { text-align: left; line-height: 17px; margin-top: 16px; width:508px; white-space:normal;}
.fourth_slide_left .big_heading { font-size:45px; font-weight: 700; color: #222; line-height:45px; margin:0px; }
.super-tabs > div > .nav h2{ font-size:16px !important}
.fourth_slide_left .small_heading { color: #222; line-height: 25px; font-size:25px; margin:10px 0 12px;}
.fourth_slide_left h3 { font-size: 20px; color: #333; margin: 0px; }
.homepagevd { position: relative; left: -87px; top: -17px; }
.ls-video-layer iframe { position: absolute; top: 0px; left: 0px; }
.homesldvd {/*background: url("img/lpbghome.png") no-repeat;width:444px;height:253px;*/ }
.homesldvd img { width: 444px !important; }
/*.homesldvd iframe {width:444px !important;height:253px !important;}*/
.slidebtn {background:#28aadc;padding:6px 10px;color:#fff;font-weight:bold;margin-top:8px;border-radius:2px;float:left;margin-left:2px;}
.mainslid {text-align:left;width:47%;white-space:normal;}
.under-container { overflow: inherit; }
/**************************************************************
						speaking  start here
**************************************************************/
.top_image_speaking_slider_bottom { margin-bottom: 44px; margin-top: 50px; }
.top_image_speaking_slider_bottom h1 { font-size: 40px; margin-bottom: 0px; }
.top_image_speaking_slider_bottom h3 { font-size: 25px !important; margin-top: 0 !important; margin-bottom: 16px; color: #6f7074; font-weight: 200; }
.speakers_header p { font-size: 28px ! important; color: rgb(255, 255, 255); padding: 13px 30px; background-color: #6f7074 }
.single_speaker { padding: 30px 15px; }
.single_speaker .speaker_right { padding: 0px; border-left: 0px; }
.speaker_right a h2 { color: #28aadc; font-size: 20px !important; font: inherit; font-weight: lighter !important; line-height: 30px; }
.speaker_right a:hover { text-decoration: none; outline: none; }
.speaker_right a:focus { text-decoration: none; text-decoration: none; outline: none !important; }
.speaker_right .speaker_content { color: #6f7074; padding: 15px 0; }
.speaker_videos { border-top: 1px solid #d9d9d9; clear: both; margin: 0; padding: 15px 0; width: 100%; }
.speaker_videos h3 { font-size: 20px !important; font-variant: normal; color: #4b4b4b; font: inherit; }
.speaker_videos .btn { float: right; margin-top: 20px; background-color: #28acdc; border: none; margin-right: 10px; }
.profile_image { border-radius: 50%; background-color: #fff; height: 250px; width: 250px; overflow: hidden; text-align: center; vertical-align: middle; border: solid 1px #ccc; background-position: center center; background-size:cover; }
.follow_me { text-align: center; margin-top: 21px; width: 90%; margin-bottom: 25px; }
.follow_me a { border: 1px solid rgb(204, 204, 204); padding: 8px 3px; font-weight: bold; font-size: 22px; }
.follow_me a:hover { text-decoration: none; }
.follow_me h3 { color: #343434; font-size: 22px; font-weight: lighter; margin-bottom: 30px; }
.speakerrow:nth-child(odd) { background: #f1f1f1 !important }
.speakerrow:nth-child(even) { background: #fff !important; }
.speaker_videos .single_video { padding-left: 0px !important; padding-right: 10px; }
.speaker_videos .single_video:last-child { padding-right: 0px !important; }
.speaker_videos_category { padding: 15px; }
.speaker_videos_category .speaker_name { padding: 15px; color: #28aadc; font-size: 24px; }
.sliderspesking { padding: 0px !important; }
.banner_image { margin: 0px; background-size: cover; background-repeat: no-repeat; min-height: 450px; background-position: right center; position: relative; }
.banner_textsingle { width: 50%; margin-top: 110px; }
.banner_textsingle h2 { font-size: 42px !important; color: #fff; text-transform: uppercase; margin-bottom: 0px; }
.banner_textsingle p { font-size: 17px; color: #fff; margin: 2px; }
.banner_textsingle p strong { font-size: 23px; color: #fff; font-weight: 500; }
.banner_textsingle span { font-size: 20px; padding: 5px 10px; display: inline-block; margin-top: 5px; color: #fff; font-weight: bold; font-style: italic; font-family: inherit !important; }
nav.primary .search { width: 190px; }
#wonderplugincarousel-1 blockquote { color: #6e6f73 !important; font-style: italic !important; border-left: none !important; background-color: transparent !important; font-size: 16px !important; font-family: inherit !important; line-height: 27px !important; width: 70%; display: inline-block; }
#wonderplugincarousel-1 .amazingcarousel-image img { width: 180px !important; height: 180px !important; border-radius: 50% !important; border: solid 1px #ccc !important; }
#wonderplugincarousel-1 cite { font-size: 28px !important; font-style: normal !important; color: #28aadc !important; font-weight: normal !important; margin: 20px 0px !important; font-family: inherit !important; }
#wonderplugincarousel-1 .amazingcarousel-prev { left: 30% !important; top: 38% !important; }
#wonderplugincarousel-1 .amazingcarousel-next { right: 30% !important; top: 38% !important; }
.speaker_desc { font-size: 16px; margin: 0px auto; }
.speaker_contact .contact_photos_title { background-color: #6f7074; padding: 20px; color: #fff; margin-bottom: 0px; height: 97px; }
.related_videos .speaker_contact { border-right: solid 1px #b7b8ba; padding-right: 0px }
.speaker_contact .first_title { font-weight: lighter !important; }
.speaker_contact .contact_photos_title h1 { margin: auto !important; color: #fff; text-align: left; }
.speaker-products { padding-left: 0px; }
.cart-contents_shop {
  color: #0292b7;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  right:272px;
  top: -31px;
}
.widget_shopping_cart_content { display:none;}
.brite-events-row { margin-left: 0px; margin-right: 0px; }
.speaker-products .contact_photos_title { min-height: 97px; background-color: #6f7074; padding: 20px; color: #fff; }
.speaker-products .contact_photos_title .first_title { color: #fff; text-align: left; }
.speaker_contact .contact_form { padding: 10px 20px; }
.speaker_contact .contact_form input, textarea { width: 100%; border-radius:4px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: transparent; border: solid 1px #cdcfcf; height: 30px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.speaker_contact .contact_form p { font-size: 15px; text-align: left; }
.wpcf7-recaptcha div { width: 100% !important }
div#wonderplugincarousel-container-1 { border-top: solid 1px #b7b8ba; }
.amazingcarousel-bullet-list { display: none; }
.contact-form input[type="submit"], input[type="reset"], input[type="button"], button, .button{background: none repeat scroll 0 0 #28aadc;
    border: 1px solid #1b90bd !important;
    box-shadow: none !important;
    color: #fff;
    font-weight: normal !important;
    height: auto !important;
    outline: medium none !important;
    padding: 5px 20px;
    text-shadow: inherit !important;}
.speaker_contact .wpcf7-submit { background: none repeat scroll 0 0 #28aadc !important; box-shadow: none; color: #fff !important; display: block !important; font-size: 15px !important; height: inherit !important; margin-left: auto !important; margin-right: auto !important; margin-top: 20px; padding:8px 30px !important; width: 136px !important;  border: 1px solid #1b90bd !important;}
.speaker_contact .wpcf7-submit:focus { box-shadow: none; }
.brite-events-row .row { margin: 0px; }
.brite-events-row h1 { border-top: solid 1px #cdcfcf; border-bottom: solid 1px #cdcfcf; text-align: left; color: #28aadc; font-weight: lighter; margin: 25px 20px 0px; padding: 10px 0px; font-family: inherit; }
.products-row { padding: 15px; }
.speaker-detail-social-icons { background-color: rgba(255, 255, 255, 0.8); bottom: 35px; clear: both; display: block; position: absolute; right: 0; width: 52%; }
.speaker-detail-social-icons .left-social-icons span { font-size: 21px; }
.right-social-icons { float: left; margin-left: 14px; }
.speaker-detail-social-icons .left-social-icons { color: #fff; font-weight: lighter; background-image: url(img/arrow.png.pagespeed.ce.rpa6AZbNUg.png); background-repeat: no-repeat; background-position: left center; float: left; width: 51%; padding: 21px 25px; height: 70px; }
.right-social-icons_banner li { list-style: none; margin: 7px 8px; }
.right-social-icons_banner .twiiter_li { border: 1px solid #2caae1; border-radius: 50%; }
.right-social-icons_banner .twiiter_li a { color: #2caae1; }
.right-social-icons_banner .gplus_li { border: 1px solid #007bb6; border-radius: 50%; }
.right-social-icons_banner .gplus_li a { color: #007bb6; }
.right-social-icons_banner .facebook_li { border: 1px solid #3b579d; border-radius: 50%; }
.right-social-icons_banner .facebook_li a { color: #3b579d; }
.right-social-icons_banner li a { border-radius: 50%; display: table-cell; font-size: 25px; height: 50px; padding: 15px; text-align: center; vertical-align: middle; width: 50px; }
.products-row .col-md-4 img { padding: 15px; border: solid 1px #ccc; }
.products-row .col-md-4 h2 { background: none repeat scroll 0 0 #f1f0f0; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; font-size: 13px !important; margin-top: 0; padding: 11px; text-align: center; width: 100%; margin-bottom: 20px; }
.banner_text { position: absolute; top: 16%; }
.banner_text p { font-size: 40px; color: #fff; margin: 30px; }
.banner_text p+p { font-size: 18px; color: #fff; font-weight: lighter; margin: 28px; }
.pagination { float: right; }
.pagination>li { display: inline }
.pagination a, .pagination span { position: relative; float: left; line-height: 1.7; text-decoration: none; color: #337ab7; background-color: #f1f1f1; border: 1px solid #ccc; margin-left: -1px; border-radius:0px; margin:5px;box-shadow:none; height:auto;  }
.pagination a:focus, .pagination a:hover, .pagination span:focus, .pagination span:hover { color: #fff; background: #28acdc; border-color: #ddd; }
.pagination { margin-top: 15px; margin-bottom: 10px; }
.speaker_desc h1 { font-size: 34px; color: #414141; margin: 0px; }
.speaker_desc h3 { color: #6f7074; margin: 0px; font-size: 22px !important; font-weight: lighter; }
.speaker_desc .blue-button_top { font-size: 30px; color: #28aadc; font-weight: lighter; font-family: inherit; }
.blue-button { font-size: 15px; color: #0a8cb6; }
.Why_Shawn { margin-top: 30px; }
.speaker_desc p { }
.speaker_desc ul li { margin: 20px 0px; list-style: url("./img/li.png"); background-repeat: no-repeat; background-position: left; color: #414141; }
.speaker_desc .html5-video-player { }
.related_videos { margin: 0px; }
.related_videos .flex-active-slider { height: 400px !important; }
.related_videos .flex-control-nav { display: none; }
.related_videos .flex-active-slide iframe { height: 400px !important; }
.related_videos .flex-active-slide iframe .flex-direction-nav a { font-size: 0px; height: 24px; width: 24px; }
.related_videos .flex-direction-nav li { position: inherit !important; }
.related_videos .flex-direction-nav a:before { font-size: 24px; }
.related_videos .flex-direction-nav li .flex-next { position: absolute; right: -33px !important; font-size: 0px; height: 24px; width: 24px; outline: none; border: none; background: none; }
.related_videos .flex-direction-nav li .flex-prev { position: absolute; left: -33px !important; font-size: 0px; height: 24px; width: 24px; outline: none; border: none; background: none; }
.contact_photos_title { margin: 0px; text-align: center; color: #414141; font-size: 30px; margin-botttom: 40px; }
.testimonials { margin: 0px; margin-top: 40px; }
.testimonials h3 { text-align: center; font-size: 31px !important; color: #414141 !important }
.speaker_videos .single_video .video_area img { width: 100%; max-width: inherit; }
.related_videos .flexslider { width: 90%; margin: 0px auto; margin-top: 50px; margin-bottom: 50px; }
.main section .page-title { background-color: rgb(204, 204, 204); color: rgb(255, 255, 255); padding: 7px 15px; color: #000; }
.video_link {background-color: #28aadc;
width: 115px; margin: 20px auto; padding: 5px; margin-top: 20px;  text-shadow: 0 1px #28aadc; border-radius: 4px; border: 1px solid #1b90bd;}

.video_link a { color: #fff; }
.video_desc { width: 85%; margin: auto; margin-top: 20px; margin-bottom: 5px; }
.video_detail_single { margin-bottom: 20px; }
.video_detail { margin-top: 20px; border: 1px solid rgb(204, 204, 204); padding-bottom: 20px; width: 100%; float: left; }
.video_detail h1 { background-color: #ccc; margin-bottom: 20px; padding: 5px; }
.single_video .info_area .video_excerpt { margin: 10px auto 0; min-height: 69px; overflow: hidden; width: 90%; }
.video_detail .row { margin: 0px; }
.related-topics { margin: 0px; }
.related-topics li { float: left; color: #645e5e; list-style: none; padding-left: 20px; padding-right: 20px; }
.related-topics li a { color: #4b4b4b }
.related-topics li:before { content: "\f054"; position: absolute; top: 0px; left: 0px; font-family: FontAwesome; color: #0292b7; }
.speaker_topics { border-top: solid 1px #cacbcb; border-bottom: solid 1px #cacbcb; margin: 0; padding: 35px 0px; background-color: #f7f7f7; margin-bottom: 0px; }
.speaker_topics .expertise_text { font-size: 16px; }
.speaker_topics .col-md-4 .expetise-speaker-detail { border-radius: 50%; margin: 0px auto; box-shadow: inset 0 0 3px #ccc, 0 0 3px #ccc; margin-top: 40px; overflow: hidden; height: 250px; width: 250px; }
.speaker_topics .col-md-4 .topic_title { font-size: 16px; width: 85%; color: #414141; margin: 0px auto; margin-top: 20px; margin-bottom: 20px; }
#quote-carousel .testi_title h3 { font-size: 28px !important; font-weight: lighter; color: #414141; margin-top: 15px; }
#quote-carousel .testi_excerpt { font-size: 17px; font-family: sans-serif; color: #6e6f73; margin-top: 15px; line-height: 22px; min-height: 68px; overflow: hidden; }
.single_video .info_area .video_title { min-height: 48px; overflow: hidden; margin: 10px auto 0; }
.client-testimonial h1 { color: #414141; font-size: 36px; }
.speaker_topics h1 { color: #414141; font-size: 36px; }
.client-testimonial { padding: 20px 0px; }
.sponsors-content-container .slides img { width: auto; }
.sponsors-container .sponsors-content-container { background: none; border: none; margin-top: 20px; width: 92%; margin: 27px auto; }
.sponsors-container .sponsors-content-container .flex-direction-nav .flex-disabled { opacity: 0.9 !important; z-index: inherit !important; }
.sponsors-container .sponsors-content-container .flex-control-nav { display: none; }
.sponsors-container .sponsors-content-container .flex-control-nav a { font-size: 0px; }

.sponsors-container .flexslider .slides>li { margin: 5px; }
.sponsors-container h2 { color: #414141; font-size: 36px !important; }
.products-container { width: 100%; float: left; }
.products-view-all { clear: both; padding: 0px 30px 20px; text-align: right; }
.products-view-all .btn-primary { border: 1px solid #cdcfcf; border-radius: 3px; box-shadow: none; width: 100px; border: none; background: none repeat scroll 0 0 #28aadc !important; }

.products-view-all .btn-primary:focus { outline: none; }
.eb_event_list .event-left-container .event-image { height: 80px; width: 80px; border-radius: 50%; overflow: hidden; float: left; border: solid 1px #ccc; }
.eb_event_list .event-date-container {
right; font-size: 16px; height: 100%; text-align: center; color: #737277; font-weight: bold; }
.eb_event_list .event-date-container span { display: table-cell; vertical-align: middle; }
.eb_event_list .eb_event_list_title { font-size: 20px; }
.eb_event_list .event-right-container { padding: 0px 10px; float: left; }
.eb_event_list .eb_event_list_item .row { clear: both; padding: 0px 15px; }
.eb_event_list .eb_event_list_item .col-md-10 { padding-left: 0px; border-right: 1px solid #A7A7A7; }
.eb_event_list .eb_event_list_item { border-bottom: 1px solid #ccc !important; clear: both; float: left; padding: 20px 0px; width: 100%; }
.eb_event_list .eb_event_list_item:last-child { border-bottom: 2px solid #ccc !important; }
.contact_photos .speaker_contact { border-right: 1px solid #ccc; padding-right: 0; }
.eb_event_list .eb_event_list_item .col-md-10:after { color: #A7A7A7; content: "\f0da"; position: absolute; right: -5px; top: 41%; font-family: FontAwesome; }
.eb_event_list .eb_event_list_location { display: block; clear: both; width: 100%; }
.speaker-topics-container { /*text-align: center; */}
.speaker-topics-bullets{margin: 0px;}
.speaker-topics-bullets li { list-style: none !important; margin: 10px 0px !important; }
.speaker-topics-bullets { margin-bottom: 30px; }
.speaker-topics-bullets li a { text-align: center !important; background: url("./img/li.png"); background-repeat: no-repeat; background-position: left; padding-left: 20px; }
.speaker-topics-bullets li a:after { }
.speaker-bio { border-bottom: solid 1px #ccc; padding: 25px 15px; float: left; background-color: #f5f4f4; margin-top: 0px; width: 100%; }
.speaker-bio h1 { font-size: 25px; color: #007bb6; font-weight: lighter; font-family: inherit; }
.speaker-bio .reel { border-left: solid 1px #ccc; }
.speaker-bio .reel h1 { margin-bottom: 15px; }
.speaker-bio .reel iframe { width: 100%; }
.speaker_contact .video-healine { height: auto !important; }
.rc-anchor-light { width: 100% !important; }
.page-template-temp_videos .single_video .video_area { background-color: #f1f1f1; }
.page-template-temp_videos .single_video .info_area { background-color: #f1f1f1; border-bottom: 1px solid #ccc; padding-bottom: 25px; }
.page-template-temp_videos .single_video .info_area .video_title { margin-top: 0px; padding: 10px; }
.page-template-temp_videos .single_video { margin-bottom: 20px; }
/*************************************** ***********************
					shop css
**************************************************************/
.columns.separated > ul > li .product { background-color: #f1f1f1; border-bottom: 1px solid #ccc; padding-bottom: 25px; }
.columns.separated > ul > li .product .full-width { height: 218px; }
.columns.separated > ul > li { text-align: center; }
/*.columns.separated > ul > li .product h3 { font-size: 19px !important; height: 43px; margin-top: 0; overflow: hidden; padding: 15px; }*/
.columns.separated > ul > li .product h3 { font-size: 18px !important; margin-top: 0; overflow: hidden; padding: 15px 15px 0px 15px; text-overflow: ellipsis; white-space: nowrap; width:210px; }
.columns.separated > ul > li .product .product_type_simple { background: none repeat scroll 0 0 #28aadc; border: medium none;box-shadow: none !important; color: #fff; font-weight: normal !important; height: auto !important; margin: 10px auto 0; outline: medium none !important; padding: 5px; text-shadow: inherit !important; width: 115px; border: 1px solid #1b90bd; border-radius:4ox; }
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale { background-color: #dd1f0c; left: auto; padding: 5px 10px; right: -6px; }

.added_to_cart {
  background-color: #dd1f0c;
  border-radius: 4px !important;
  color: #ffffff !important;
  font-size: 14px !important;
  height: auto !important;
  margin: 20px auto 0 !important;
  padding: 9px !important;
  text-shadow: none !important;
  }
.added_to_cart:hover {text-decoration:none;color:#ccc !important;}
.shop_table .actions .button{  background: #28aadc none repeat scroll 0 0 !important;
  border: 1px solid #1b90bd !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-weight: normal !important;
  border-radius:4px !important;
  font-size:14px !important;
  height: auto !important;
  margin: 20px auto 0 !important;
  outline: medium none !important;
  padding: 5px !important;
  text-shadow: inherit !important;
  width: 115px !important;}
.shop_table .actions .button:hover{color:#ccc !important;}
.wc-proceed-to-checkout .checkout-button{ background: #28aadc none repeat scroll 0 0 !important;
  border: 1px solid #1b90bd !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-weight: normal !important;
  border-radius:4px !important;
  font-size:14px !important;
  height: auto !important;
  margin: 20px auto 0 !important;
  outline: medium none !important;
  padding: 5px !important;
  text-shadow: inherit !important;
  width: 200px !important;}
.wc-proceed-to-checkout .checkout-button:hover{color:#ccc !important;}
.woocommerce-billing-fields label{ font-weight:normal; font-size:14px;}
.woocommerce-billing-fields input{}
.create-account input{ width:auto !important; }
.payment_methods input{width:auto !important;}
#place_order{background: #28aadc none repeat scroll 0 0 !important;
  border: 1px solid #1b90bd !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-weight: normal !important;
  border-radius:4px !important;
  font-size:14px !important;
  height: auto !important;
  margin: 20px auto 0 !important;
  outline: medium none !important;
  padding: 5px !important;
  text-shadow: inherit !important;
  width: 200px !important;}
.inline{ width:100%;}
.inline #rememberme{ width: auto !important;}
.added_to_cart:hover, .added_to_cart:focus{ color:#fff;}
.small_heading{ font-weight:normal; line-height:28px;}
.slide_1{ text-align:left;}
.slide_1 h1{}
.slide_1 .small_heading{/*color:#222;*/} 
.slide_1 h2{}
.slide_2 .small_heading {/*color:#222;*/}
.slide_4 .small_heading_1{/*color:#222; line-height:50px;*/}
.slide_5 .small_heading_1{/*color:#222; line-height:50px;*/} 






/*************************************** ***********************
					28-12-2015
**************************************************************/
.topic_title { font-size: 34px; color: #414141; }
.sponsors-container{ margin:0px;padding: 20px; background-color: #f5f4f4; margin: 50px 0px; }
.speaker_desc .flex-direction-nav li { background: none; list-style: none; margin: 0; }
.speaker_desc .sponsors-container .flex-control-paging { display: none; }
.flex-direction-nav a { font-size: 0px; text-indent: -9999; overflow: visible; width: 27px; height: 65px; opacity: 1; margin-top: -64px; }
.flex-direction-nav .flex-prev { background: url("./img/arw-prv.png")0 0 no-repeat; left: -40px; }
.flex-direction-nav .flex-next { background: url("./img/arw-nxt.png")0 0 no-repeat; right: -40px; z-index: inherit; }
.flex-direction-nav .flex-next:focus { outline: none; }
.flex-direction-nav .flex-prev:focus { outline: none; }
.flex-direction-nav a::before { font-size: 0; opacity: 1; }
.flex-disabled { opacity: 1 !important; }
.flexslider:hover .flex-direction-nav .flex-prev { left: -40px; }
.flexslider:hover .flex-direction-nav .flex-next { right: -40px; }
.testimonials-conatiner .carousel-inner .item {min-height:356px;}
.testimonials-conatiner h1 { color: #414141; font-size: 36px; }
.top_image_speaking_slider_bottom p { font-size: 18px; padding-left: 20px; padding-right: 20px; font-weight: lighter; font-family: inherit; }
.speaker_right .btn.btn-primary { float: right; background-color: #28acdc; padding: 8px 25px; font-size: 16px; font-weight: normal; border: none; }
.banner_text h1 { font-size: 40px; color: #fff; font-weight: lighter; }
.page-topics .banner_text h3 { font-size: 26px !important; color: #fff; font-weight: lighter; font-size: font-family:inherit;
}
.page-topics .banner_text p { font-size: 18px; color: #fff; font-weight: lighter; font-family: inherit; }
.page-topics .speakers_header p { font-weight: lighter; font-family: inherit; }
.blue-background { background-color: #cbeaf6; padding: 10px 20px; display: block; font-size: 18px; font-style: italic; }
.page-topics .speaker_videos h3 { }
.page-topics .topic-authors { padding-left: 0; margin-left: 0; margin-top: 10px; padding-top: 10px; }
.page-topics .topic-authors li:first-child { margin-left: 0; }
.page-topics .topic-authors li { list-style: none; display: inline-block; margin-left: 15px; }
.page-topics .topic-authors li a { font-size: 15px; background: #e1e1e1; padding: 10px 20px; text-align: center; border-radius: 4px; color: #0a83b2; font-weight: lighter; font-family: inherit; }
.products-row.flexslider .slides li { border: 1px solid #ccc; border-radius: 5px; margin: 0 8px; }
.products-row.flexslider .slides li h2 { font-size: 14px !important; text-align: center; margin: 5px 0 !important; height: 30px; overflow: hidden; }
.products-row.flexslider .slides li img { width: 100%; }
.products-row .flex-control-paging { display: none; }
.products-row .flex-direction-nav li a { margin-top: -34%; }
.eb_event_list { margin: 10px 20px; }
/*************************************** ***********************
						topics detail
**************************************************************/
.row.topic_desc { margin: 30px 0px; text-align: center; }
.row.topic_desc #topic_title { margin: 10px 0px; }
.related_videos #myCarousel {margin-top: 40px; margin-bottom: 40px; display: block; clear: both; width: 100%;}
.related_videos #myCarousel .carousel-inner{ width:90%; margin:0px auto;}
.related_videos #myCarousel .carousel-inner .col-md-4{ text-align:center;}
.related_videos #myCarousel .carousel-inner .col-md-4 iframe{ width:100%;}
.related_videos #myCarousel .carousel-control.right{ background-image:none; top:49%; width:auto;color:#000;}
.related_videos #myCarousel .carousel-control.left{ background-image:none;top:49%;width:auto; color:#000;}

/*************************************** ***********************
						testimonials start here
**************************************************************/
#quote-carousel .blockquote { background: none; }
.top_image img { width: 100%; }
.speaker_desc {}
/* carousel */
#quote-carousel { padding: 0 10px 30px 10px; }
/* Control buttons  */
#quote-carousel .carousel-control { background: none; color: #222; font-size: 2.3em; text-shadow: none; margin-top: 30px; top: 30%; width: auto; }
/* Previous button  */
#quote-carousel .carousel-control.left { left: -12px; }
/* Next button  */
#quote-carousel .carousel-control.right { right: -12px !important; }
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators { right: 50%; top: auto; bottom: 0px; margin-right: -19px; }
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li { }
#quote-carousel .carousel-indicators .active { }
#quote-carousel img { width: 100px; height: 100px; border: solid 1px #ccc; }
/* End carousel */

.item blockquote { border-left: none; margin: 0; background: none !important; }
.item blockquote img { margin-bottom: 10px; }
.item blockquote p:before { content: "\f10d"; font-family: 'Fontawesome'; float: left; margin-right: 10px; color: #25a1b7; }
.item blockquote p:after { content: "\f10e"; font-family: 'Fontawesome'; margin-right: 10px; color: #25a1b7; padding-left: 15px; }


/*****************************************************************************************
	27 january
*******************************************************************************************/
.woocommerce .quantity, .woocommerce-page .quantity{ width:115px;}
.logo { top:0 !important;}
nav.primary{ top:0 !important; padding-bottom:0px;}
.cart_area {position: relative;}
.cart_area #woocommerce_widget_cart-2{ list-style:none;}
.cart_area #woocommerce_widget_cart-2 .widget-title, .cart-contents{text-align: center; position: relative; display: inline-block; float: right; top: -33px; right:202px; cursor:pointer; color:#0292b7; font-weight:bold;}
.cart_area #woocommerce_widget_cart-2 .widget-title, .cart-contents:hover{ text-decoration:none; color:#0292b;}
.cart_area #woocommerce_widget_cart-2 .widget_shopping_cart_content{ background-color:#fff;  padding: 0 10px 10px; margin-top:5px; clear:both; position:absolute; z-index:999; right:210px; width:330px; border:solid 1px #ccc;}
.cart_area #woocommerce_widget_cart-2 .widget_shopping_cart_content .cart_list{  max-height: 267px;
    margin-top: 0;
    overflow-x: hidden;
    padding: 0;}
.cart_area #woocommerce_widget_cart-2 .widget_shopping_cart_content .cart_list li{ border-bottom:solid 1px #ccc;   margin-top: 0;
    padding: 10px 5px; width:100%;}
.cart_area #woocommerce_widget_cart-2 .widget_shopping_cart_content .cart_list li h3 a{ color:#0292b7; font-size:12px; font-weight:bold; text-transform:uppercase;}
.cart_area #woocommerce_widget_cart-2 .widget_shopping_cart_content .button{background: #28aadc none repeat scroll 0 0 !important;
  border: 1px solid #1b90bd !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-weight: normal !important;
  border-radius:4px !important;
  font-size:14px !important;
  height: auto !important;
  margin: 20px auto 0 !important;
  outline: medium none !important;
  padding: 5px !important;
  text-shadow: inherit !important;
  width: 115px !important;}
  .cart_area #woocommerce_widget_cart-2 .widget_shopping_cart_content .button:hover{color:#ccc !important;}
.cart_area #woocommerce_widget_cart-2 .widget_shopping_cart_content .button span{ vertical-align:top}
.cart_area #woocommerce_widget_cart-2 .widget_shopping_cart_content .checkout{background: #28acdc;border: medium none;font-weight: normal; border-radius:0px; text-shadow:none; color:#fff; height:auto;} 
.cart_area #woocommerce_widget_cart-2 .widget_shopping_cart_content .checkout span{ vertical-align:top;}
#optinforms-form2-email-field-container input{ padding-right:0px !important;}
#optinforms-form2-container #optinforms-form2{ padding:0px;}
#optinforms-form2-container #optinforms-form2-button{ padding:0px; margin-top:0px; border-radius:0px;}
#optinforms-form2-container #optinforms-form2-button-container{ width:27%;}
#optinforms-form2-container #optinforms-form2-email-field{    padding: 6px 8px 8px 33px; border:none;}
#optinforms-form2-container #optinforms-form2-email-field-container{ width:71%;}
body div.festi-cart-pop-up-products-content p.festi-cart-buttons a.festi-cart-view-cart {
  background: #28aadc none repeat scroll 0 0 !important;
  border: 1px solid #1b90bd !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-weight: normal !important;
  border-radius:4px !important;
  font-size:14px !important;
  height: auto !important;
  margin: 20px auto 0 !important;
  outline: medium none !important;
  padding: 5px !important;
  text-shadow: inherit !important;
  width: 115px !important;
}
.festi-cart-pop-up-products-content p.festi-cart-buttons a.festi-cart-view-cart:hover{color:#ccc !important;}
body div.festi-cart-pop-up-products-content p.festi-cart-buttons a.festi-cart-checkout {
  background: #28aadc none repeat scroll 0 0 !important;
  border: 1px solid #1b90bd !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-weight: normal !important;
  border-radius:4px !important;
  font-size:14px !important;
  height: auto !important;
  margin: 20px auto 0 !important;
  outline: medium none !important;
  padding: 5px !important;
  text-shadow: inherit !important;
  width: 115px !important;
}
.festi-cart-pop-up-products-content p.festi-cart-buttons a.festi-cart-checkout:hover {color:#ccc !important;}
.btn-primary:hover{color:#ccc !important;}
.video_link a:hover{text-decoration:none!important;color:#ccc !important;}
.speaker_contact .wpcf7-submit:hover{color:#ccc !important;}
form.search button[type="submit"], #bottom form.search button[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-width: 0 !important;
    box-shadow: none !important;
    filter: none !important;
	color:#505050 !important;
    margin-left: 10px !important;
    padding: 0 !important;}
.loginrow .btn{background: #28aadc none repeat scroll 0 0 !important;
  border: 1px solid #1b90bd !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-weight: normal !important;
  border-radius:4px !important;
  font-size:14px !important;
  height: auto !important;
  margin: 20px auto 0 !important;
  outline: medium none !important;
  padding: 5px !important;
  text-shadow: inherit !important;
  width: 115px !important;}
  .loginrow .button{background: #28aadc none repeat scroll 0 0 !important;
  border: 1px solid #1b90bd !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-weight: normal !important;
  border-radius:4px !important;
  font-size:14px !important;
  height: auto !important;
  margin: 20px auto 0 !important;
  outline: medium none !important;
  padding: 5px !important;
  text-shadow: inherit !important;
  width: 115px !important;}
.loginrow .button:hover{color:#ccc !important;}
.loginrow .btn:hover{color:#ccc !important;}
#place_order:hover{color:#ccc !important;}
nav.secondary a {padding: 0 18px !important;}
.loginrow .inline{float:left !important;;}
/**MEDIA QUERIES*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
#quote-carousel { margin-bottom: 0; padding: 0 40px; }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
/* Make the indicators larger for easier clicking with fingers/thumb on mobile */
		
#quote-carousel .carousel-indicators { bottom: -20px !important; }
#quote-carousel .carousel-indicators li { display: inline-block; margin: 0px 5px; width: 15px; height: 15px; }
#quote-carousel .carousel-indicators li.active { margin: 0px 5px; width: 20px; height: 20px; }
}
/*************************************** ***********************
						testimonials end here
**************************************************************/




/**************************************************************
						SLIDESHOW
**************************************************************/

.slide_shadow { text-shadow: 1px 1px 3px rgba(0,0,0,0.4); }
/**************************************************************
					AUTHOR BIO BOX 
**************************************************************/

#author-bio-box { background: none !important; border-top: none !important; border-bottom: none !important; padding: 0 !important; margin: 0 !important; }
.author_bio_name { font-size: 16px; margin-top: 0; }
.author_bio_description { font-size: 13px !important; line-height: 20px !important; }
.author_social_links i { display: inline !important; float: left !important; font-size: 1.2em; margin-right: -11px; }
.author_social_links br { display: none !important; }
.author_social_links i:hover { opacity: 0.8; }
.main #author-bio-box { display: none; }

@media only screen and (max-width: 768px) {
.main #author-bio-box { display: block !important; border-top: 1px solid #ccc !important; }
.main #author-bio-box h3 { margin-top: 10px; }
.widget #author-bio-box { display: none !important; }
}
/**************************************************************
							FOOTER
**************************************************************/

.textwidget, .widget-unwrapped-text { padding-right: 10%; }
.textwidget p, .widget-unwrapped-text p { color: #949494; }
/**************************************************************
						 CONTACT FORMS
**************************************************************/

.main .contact-form { margin-top: 15px; margin-bottom: 25px; padding-left: 25px; border-left: 2px solid #eee; margin-left: 15px; }
.main .contact-form button, .main .contact-form .button { box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.85); border-color: #0092b7 !important; background-color: #28aadc; }
.main .contact-form input[type="submit"], .main .contact-form input[type="reset"], .main .contact-form input[type="button"], .main .contact-form button, .main .contact-form .button, #speakerForm input[type="submit"], #speakerForm input[type="reset"] { box-shadow: 0 1px 0 0 rgba(40,170,220,0.6) inset, 0 1px 0 0 rgba(0,146,183,0.8); border-color: #0092b7 !important; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #28aadc), color-stop(100%, #0092b7)); background: linear-gradient(to bottom, #28aadc 0%, 0092b7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0 );
text-shadow: 0 1px #28aadc; color: #eee; }
.main .contact-form input[type="submit"]:hover, .main .contact-form input[type="reset"]:hover, .main .contact-form input[type="button"]:hover, .main .contact-form button:hover, .main .contact-form .button:hover, #speakerForm input[type="submit"]:hover, #speakerForm input[type="reset"]:hover { color: #ccc; }
.main .contact-form input[type="submit"]:active, .main .contact-form input[type="reset"]:active, .main .contact-form input[type="button"]:active, .main .contact-form button:active, .main .contact-form .button:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ccfff), color-stop(100%, #34aacf)); background: linear-gradient(to bottom, #5ccfff 0%, #34aacf 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ccfff', endColorstr='#34aacf', GradientType=0 );
}
.main .contact-form input[type="submit"] > i, .main .contact-form input[type="reset"] > i, .main .contact-form input[type="button"] > i, .main .contact-form button > i, .main .contact-form .button > i { text-shadow: 0 1px #ccc, 0 -1px rgba(0,146,183,0.7); }
.main .contact-form input[type="submit"]:disabled, .main .contact-form input[type="reset"]:disabled, .main .contact-form input[type="button"]:disabled, .main .contact-form button:disabled, .main .contact-form .button.disabled { color: #eee; text-shadow: 0 1px rgba(255, 255, 255, 0.7); cursor: default; }
.main .contact-form textarea { height: 200px; }
 .placeholder, ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
 color: #9a9a9a;
}
#bottom input, #bottom select, #bottom textarea, #bottom button, #bottom .button {background-color: #28aadc; }
#bottom input[type="submit"], #bottom input[type="reset"], #bottom input[type="button"], #bottom button, #bottom .button { box-shadow: 0 1px 0 0 rgba(40,170,220,0.6) inset, 0 1px 0 0 rgba(0,146,183,0.8); border-color: #d6d6d6; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #28aadc), color-stop(100%, #0092b7)); background: linear-gradient(to bottom, #28aadc 0%, 0092b7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0 );
text-shadow: 0 1px #28aadc; color: #eee; }
#bottom input[type="submit"]:hover, #bottom input[type="reset"]:hover, #bottom input[type="button"]:hover, #bottom button:hover, #bottom .button:hover { color: #ccc; }
#bottom input[type="submit"]:active, #bottom input[type="reset"]:active, #bottom input[type="button"]:active, #bottom button:active, #bottom .button:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #f6f6f6)); background: linear-gradient(to bottom, #e4e4e4 0%, #f6f6f6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f6f6f6', GradientType=0 );
}
#bottom input[type="submit"] > i, #bottom input[type="reset"] > i, #bottom input[type="button"] > i, #bottom button > i, #bottom .button > i { text-shadow: 0 1px #ccc, 0 -1px rgba(0,146,183,0.7); }
#bottom input[type="submit"]:disabled, #bottom input[type="reset"]:disabled, #bottom input[type="button"]:disabled, #bottom button:disabled, .button.disabled { color: #eee; text-shadow: 0 1px rgba(255, 255, 255, 0.7); cursor: default; }
#bottom input:not([type="submit"]):not([type="reset"]):not([type="button"]), #bottom select, #bottom textarea, #bottom button, #bottom .button { box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.85) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.1); border-color: #323232; background-color: #28aadc; }
 #bottom .placeholder, #bottom ::-webkit-input-placeholder, #bottom :-moz-placeholder, #bottom :-ms-input-placeholder {
 color: #949494;
}
#bottom input:not([type=submit]):not([type=reset]):not([type=button]), #bottom textarea { background-color: #7b7b7b; color: #000; padding-left: 9px; }
#bottom input[type=text], #bottom textarea { width: 250px !important; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, select:focus { border-size: 1px !important; border-color: #28aadc !important; -webkit-box-shadow: 0 0 1px rgba(40,170,220,0.7) !important; box-shadow: 0 0 1px rgba(40,170,220,0.7) !important; }

:-moz-placeholder, .wp-core-ui :-moz-placeholder {
 color: #949494;
}
/* Contact Page */
.main input:not([type="submit"]):not([type="reset"]):not([type="button"]) {border: 1px solid #ccc;border-radius: 0;box-shadow: none;height: auto;padding: 4px 10px;width: 100%; background:#eceff1;}
.select2-container .select2-choice{ background:#eceff1 !important; padding:3px 7px; border-radius:0px; }
.main textarea { border: 1px solid #ccc;border-radius: 0;box-shadow: none;height: auto;padding: 4px 10px;width: 100%; }
.home .button.big { font-size: 16px !important; }
/* Captcha */
.contact-form p:nth-child(6) input { width: 40px !important; }
#bottom .contact-form p:nth-child(6) input { width: 30px !important; }
/**************************************************************
						ARCHIVES
**************************************************************/

.archive_list { list-style-type: none !important; padding-top: 15px; padding-left: 0 !important; margin-left: 0 !important; }
.archive_h2 { margin-bottom: 0 !important; }
.archive_list p { font-size: 14px; line-height: 24px; margin-top: 0; }
.archive_credit { margin-top: 0; font-size: 12px !important; line-height: 20px !important; }
.archive_list img { float: left; padding-right: 15px; padding-bottom: 15px; }
/* Breadcrumb Page Navigation on Archives */
.wp-pagenavi { padding-bottom: 20px; padding-left: 15px; }
.wp-pagenavi .pages { letter-spacing: -0.08em; }
.wp-pagenavi a { font-size: 13px; }
/* Fix a space on Archive Pages when no featured image */
article figure.alignleft.fixed { margin-right: 0; }
article figure.alignleft.fixed img { margin-right: 18px; }
/* Human Side TV, WTM Podcast 2-Column Archive */
.page-template-the_human_side_tv-php .archive_list, .page-template-work_matters-php .archive_list { padding-top: 0; }
.page-template-the_human_side_tv-php .archive_list hr, .page-template-work_matters-php .archive_list hr { display: none; }
.page-template-the_human_side_tv-php .archive_list li:nth-child(odd), .page-template-work_matters-php .archive_list li:nth-child(odd) { width: 49%; padding-right: 1%; }
.page-template-the_human_side_tv-php .archive_list li:nth-child(even), .page-template-work_matters-php .archive_list li:nth-child(even) { width: 49%; padding-left: 1%; }
.page-template-the_human_side_tv-php .archive_list li, .page-template-work_matters-php .archive_list li { float: left; display: inline; height: 350px; }
.color-grass { display:none !important;}
.columns.separated > ul > li .product .product_type_simple:hover {color:#ccc;}

.form-row.form-row.form-row-wide.woocommerce-validated.wresize {
  float: left !important;
  padding-right: 10px !important;
  width: 50% !important;
}
.woocommerce-invalid-required-field.wresize2 {
  padding-left: 10px !important;
  padding-right: 0 !important;
}

@media only screen and (max-width: 980px) {
.page-template-the_human_side_tv-php .archive_list li:nth-child(odd), .page-template-work_matters-php .archive_list li:nth-child(odd) { width: 48%; padding-right: 2%; }
.page-template-the_human_side_tv-php .archive_list li:nth-child(even), .page-template-work_matters-php .archive_list li:nth-child(even) { width: 48%; padding-left: 2%; }
}

@media only screen and (max-width: 768px) {
.page-template-the_human_side_tv-php .archive_list li, .page-template-work_matters-php .archive_list li { height: 320px; }
.page-template-the_human_side_tv-php .archive_list li p, .page-template-work_matters-php .archive_list li p { font-size: 13px; line-height: 19px; }
}

@media only screen and (max-width: 480px) {
.page-template-the_human_side_tv-php .archive_list li, .page-template-work_matters-php .archive_list li { height: auto; }
.page-template-the_human_side_tv-php .archive_list li:nth-child(odd), .page-template-work_matters-php .archive_list li:nth-child(odd) { width: 100%; padding-right: 0; }
.page-template-the_human_side_tv-php .archive_list li:nth-child(even), .page-template-work_matters-php .archive_list li:nth-child(even) { width: 100%; padding-left: 0; }
.page-template-the_human_side_tv-php .archive_list hr, .page-template-work_matters-php .archive_list hr { display: block; }
}
/* Inline image on a post */
.single article figure.alignleft.fixed { margin-right: 15px; }
/* Author Bios on Page in Columns */
.no_break_wrapper br { display: none; }
.columns hr { display: none; }
/* A World Gone Social Page */
.sample_chapter_wrapper { background-color: rgb(203, 4, 37); color: #fff; text-align: center; padding: 25px 15px; }
.sample_headline { color: #fff; }
.sample_chapter_wrapper .button { color: #eee; box-shadow: none !important; border-color: #1a1a1a !important; background: #1a1a1a !important; background-color: #1a1a1a !important; font-weight: normal !important; }
.page-id-4323 blockquote.bar { border-color: rgb(203, 4, 37); }
.sample_chapter_wrapper .button:hover { opacity: 1; border-color: #383838 !important; background: #383838 !important; background-color: #383838 !important; }
.sample_chapter_wrapper img:hover { opacity: .9; }
/* Search Page */
.search .main nav { display: none; }/* Turns off extra secondary menus appearing on resutls */
.search .main .section, .search .main article { padding-top: 5px; padding-bottom: 5px; }
.search .main .post { margin-top: 10px; margin-bottom: 10px !important; }
.pagination:last-child { margin-top: 15px; margin-bottom: 15px; }
/**************************************************************
					   AUTHOR ICONS/BUTONS
**************************************************************/

#author-bio-box {
*zoom:1; margin: 10px 0; padding: 10px }
#author-bio-box:after { content: ""; display: table; clear: both }
#author-bio-box * { margin: 0; padding: 0 }
#author-bio-box h3, #author-bio-box .bio-description { margin-bottom: 10px }
#author-bio-box h3 a, #author-bio-box .bio-description a { text-decoration: none }
#author-bio-box p { margin-bottom: 5px }
#author-bio-box .bio-gravatar { float: left }
#author-bio-box .bio-gravatar img { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background: #fff; border: 1px solid #ccc; margin-right: 15px; padding: 3px }
.author_wrapper ul { list-style-type: none; margin-top: 0; margin-bottom: 4px; } /* Social Media Icons */
.author_wrapper li { display: inline; }
.bio-icon {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; background-color: transparent; background-image: url("./img/sprite.png"); background-repeat: no-repeat; display: inline-block; margin-right: 3px; height: 16px; width: 16px; text-indent: 100%; white-space: nowrap; overflow: hidden; }
.bio-icon:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7 }
.bio-icon-twitter { background-position: 0 0 }
.bio-icon-facebook { background-position: -16px 0 }
.bio-icon-googleplus { background-position: -32px 0 }
.bio-icon-linkedin { background-position: -48px 0 }
.bio-icon-website { background-position: -64px 0 }
.bio-icon-flickr { background-position: -80px 0 }
.bio-icon-tumblr { background-position: -96px 0 }
.bio-icon-vimeo { background-position: -112px 0 }
.bio-icon-youtube { background-position: -128px 0 }
.linkded_in:before { content: '\f318'; font-family: 'icons'; font-weight: normal; font-style: normal; text-align: center; text-decoration: inherit; display: inline-block; margin: 0 .4em; speak: none; width: 1em; }
/**************************************************************
						SPEAKERS
**************************************************************/

figcaption { font-size: 13px; line-height: 18px; color: #0092b7; }
figure figcaption { text-align: left; }
.page-template-speakers-php .columns li .embed { margin-top: 0; }
.speaker_right { border-left: 1px solid #ddd; padding-left: 20px; }
.speaker_right h1 { margin-top: 0 !important; f
}
.speaker_right p { margin-top: 0 !important; margin-bottom: 2px !important; line-height: 22px !important; }
.speaker_name { margin-bottom: 0 !important; }
p.speaker_subhead { font-style: italic; margin-bottom: 10px !important; }
.speaker_right ul, .speaker_right ol { margin-top: 0 !important; margin-bottom: 12px !important; line-height: 22px; }
.speaker_info_wrapper { padding-left: 2%; padding-right: 2%; }
h2.speaker_info_head { text-align: center; margin-top: 10px; }
.no_margin { margin-top: 0; margin-bottom: 0; }
.speaker_box p, .speaker_box ul, .speaker_box h1, .speaker_box h2 { margin-top: 0; margin-bottom: 0; }
.speaker_box h2 { font-weight: normal; font-style: italic; }
.speaker_box .columns { margin-top: 0; margin-bottom: 10px; }
.speaker_print { padding-right: 15px; text-align: right; }
.speaker_print .button { font-weight: bold !important; }
.speaker_box figure { margin-bottom: 0; margin-left: 8px; margin-right: 8px; } /* Badges */
.speaker_box hr { margin-top: 10px; margin-bottom: 13px; }
.page-template-speakers-php .headline { display: none; }
/**************************************************************
						SPEAKER FORM
**************************************************************/

#speakerForm { background-color: #fdfdfd; width: 700px; margin: 0 auto; padding: 20px; border: 1px solid #b8b8b8; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0px 0px 4px 0px #cfcfcf; box-shadow: 0px 0px 4px 0px #cfcfcf; }
#speakerForm p { margin-bottom: 10px; }
#speakerForm label { width: 200px !important; float: left; }
#speakerForm .label_break { float: none; }
#speakerForm input[type=text], #speakerForm input[type=email] { font-size: 16px; padding: 16px 8px; width: 500px; }
@-moz-document url-prefix() {
 #speakerForm input[type=text], #speakerForm input[type=email] {
 padding: 0 8px;
 height: 36px;
}
}
#speakerForm select { font-size: 16px; height: 70px; }
#speakerForm textarea { font-size: 16px; padding: 8px 8px; width: 500px; height: 160px; }
#speakerForm input[type=checkbox] { width: 25px; top: 0; }
.form_other { width: 60px; float: left; margin-left: 25px; }
.speaker_other { margin-left: 25px; }
.page-template-speakers-php .avatar img { width: 210px; height: 210px; }
#speakerForm .catpcha_wrapper input[type=text] { padding: 0 8px; }
.page-template-speakers-php .success, .page-template-speakers-php .error { text-align: center; margin-top: 10px; margin-bottom: 10px; font-weight: bold; font-size: 20px; }
.page-template-speakers-php .error { color: red; }








@media only screen and (max-width: 768px) {
#speakerForm { width: 90%; }
#speakerForm label { width: 100% !important; float: none !important; }
#speakerForm input[type=text], #speakerForm input[type=email], #speakerForm textarea, #speakerForm select { width: 100%; }
.other_textfield { margin-right: 20px; }
#menu-main-menu-1 li {
  padding-left: 6px;
  padding-right: 6px;
}
nav.primary ul, nav.primary a:not(:hover), nav.mobile ul, nav.mobile a:not(:hover) {
font-size: 13px !important;}
.video_link { margin: 20px auto 20px;}
.products-row .col-md-4 img { margin: 10px auto 0;}

}

@media print {
.video_embed, form, #bottom, nav, .speaker_print { display: none; }
}
/* Video Page. This removes weird break in columns with videos */
.page-id-4339 .main br { display: none !important; }
/* Turning off Category Tags at the bottom of Home Page Entries */
.home .columns .small.alt { display: none; }
/* Removing padding on bottom of Logo Scroller on Home Page */
.home .main .section { padding-bottom: 0; }
/* Recognition Widget */
#text-11 .textwidget { text-align: center !important; padding-right: 0 !important; }
#text-11 .textwidget a { display: block !important; }
#text-11 .textwidget a, #text-11 .textwidget img { text-align: center !important; }
div.storify { overflow-y: scroll; padding-bottom: 0; border-bottom: 1px solid #eee; } /* Social Leader Fix */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.fourth_slide_left { line-height: 5px; margin-top: 25px; }
.fourth_slide_left .big_heading { font-size: 40px; }
.fourth_slide_left .small_heading { font-size: 20px; }
.homepagevd img { display: none; }
.video_link {
  margin: 20px auto 20px;}
.products-row .col-md-4 img { margin: 10px auto 0;}
}

@media only screen and (max-width: 767px) {
.fourth_slide_left { line-height: 5px !important; margin-top: 25px; }
.fourth_slide_left .big_heading { font-size: 12px !important; }
.fourth_slide_left .small_heading { font-size: 11px; line-height: 17px; }
.homepagevd img { display: none; }
.fourth_slide_left h3 { font-size: 13px; }
.speaker_videos .single_video { text-align: center; margin-bottom: 20px; }
.profile_image { margin: 0px auto; text-align: center; display: block; }
.follow_me { width: 100%; text-align: center; }
.speakerrow { text-align: center; }
.speaker_videos .btn { float: none; }
.speaker-detail-social-icons .left-social-icons { background-image: none; width: 100%; text-align: center; background-color: #007bb6; }
.contact_photos { margin: 0px auto; }
.speaker_desc .sponsors-container { margin-left: 0px; }
.products-row .col-md-4 img { margin: 0px auto; display: block; margin-top: 10px; }
.testimonials-conatiner .carousel-indicators {white-space:nowrap;}
.contact_photos .speaker_contact { padding-left: 0px; }
.video_link {
  margin: 20px auto 20px;}
  .page-topics .banner_text h3 {
  margin-top: 0;
}
  .page-topics .banner_text p {
  margin-top: 0;
}
.vertical-align {
    position:none;
}
.cart-contents_shop {
  right: 102px;
  top: -8px;
}
.cart_area #woocommerce_widget_cart-2 .widget-title, .cart-contents {

  right: 16px;
  top: -8px;
}
.logo {
  padding: 20px 20px 10px;}
  .cart_area #woocommerce_widget_cart-2 .widget_shopping_cart_content {
  right: 100px;
  width: 200px;
  z-index: 999;
}
 
}

@media only screen and (max-width: 480px) {
.speaker-detail-social-icons { width: 100%; }
.banner_textsingle { width: 100%;margin-top: 236px; }
.banner_text p + p { font-size: 12px; }
.banner_text p { font-size: 20px; }
.speaker_contact .contact_photos_title { height: auto; }
.contact_photos .speaker_contact { border-right: none; }
.eb_event_list .eb_event_list_item .col-md-10 { border: none; }
.eb_event_list .eb_event_list_item .col-md-10:after { font-size: 0px; }
.speaker-products .contact_photos_title { min-height: inherit; }
.sponsors-container .sponsors-content-container { width: 72%; }
.banner_textsingle h2 {font-size: 35px !important;}
.banner_textsingle span {font-size: 15px;padding: 0 10px;}
.speaker-detail-social-icons {bottom: 0px;}
.page-topics .banner_text p {font-size:15px !important;}
}

/* Validation Messages */
.error_msg	{	color:red;	}	
.error { border: 1px solid red !important;	}

.alt-mobile li img {height:none !important;}

#time-child-unwrapped-text-3 {margin-top:0px !important;}
#time-child-unwrapped-text-9 {margin-bottom:0px !important}
.footer .section {text-align:center;}
.footer .section .small {}
.footer .section .term_privacy_links {display:inline-block;margin:7px 0px;}
.footer .section .copyright_text {float:right;margin:7px 0px;width:100%;text-align:center;} 

.woocommerce .products .product img {border:1px solid #eee;}
.social-icons ul{ float:right; margin:0}
.brite-events-page .profile_image img { height:250px; max-width:inherit;}
.date_section { border:1px solid #cccccc; color:##337ab7;     margin:0px auto;width:62%; padding: 5px; font-size: 18px; color:#28aadc;  }
.page-template-work_matters .work_matters_temp .container{ padding-left:0px;}
.page-template-work_matters .work_matters_temp .container .row{margin-left: -20px;margin-right: -20px;}
.page-template-work_matters .textwidget, .widget-unwrapped-text{ padding-right:0px; text-align:center;}
.page-template-work_matters .widget_text{ padding-right:0px;}
.page-template-temp_writers .follow_me a{font-size: 14px;padding: 2px 0;}
.author_email{ overflow:hidden;}


/* 22 july */
.testimnw{
  background: #007bb6 none repeat scroll 0 0;
  padding: 25px 0;
}
.testi_title > h3 {
  color: #ffffff !important;
}
.authr-dsc {
  padding: 25px;}
  
#bottom #time-child-unwrapped-text-5 h2{ text-align:left}

/* 29 july 16 */


.woocommerce .loginrow form.login hr{ display:none;}
.woocommerce .loginrow form.login input[type="text"], .woocommerce .loginrow form.login input[type="password"]{ width:60%;}
.woocommerce .loginrow form.login p.form-row label{ font-size:14px; font-weight:normal;}
.woocommerce .loginrow form.login p.form-row:nth-child(n+3){display: inline-block; width:60%;}
.woocommerce .loginrow form.login p.lost_password{display: inline-block;}
.woocommerce .loginrow .inner-container{ border:1px solid #dddddd; border-radius:5px; padding:10px;}
.woocommerce .loginrow .inner-container h3{background:#4e4e4e;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #ffffff;padding: 10px;}
.woocommerce form.woocommerce-checkout{ margin-top:40px;}
.woocommerce form.woocommerce-checkout .woocommerce-billing-fields p input ,
.woocommerce form.woocommerce-checkout .woocommerce-billing-fields p a{ width:80% !important;}
.woocommerce form .form-row .required, .woocommerce-page form .form-row .required{ text-decoration:none; border-bottom:0px;}
.woocommerce form.woocommerce-checkout .woocommerce-billing-fields{ border:1px solid #dddddd; border-radius:5px; padding:10px; margin-bottom:40px;}
.woocommerce form.woocommerce-checkout .woocommerce-checkout-payment .payment_box p label{font-size:14px; font-weight:normal;}
.woocommerce form.woocommerce-checkout .woocommerce-checkout-payment .payment_box p input{ width:80% !important;}
.woocommerce form.woocommerce-checkout .woocommerce-checkout-payment .payment_box p.form-row-wide input{ width:39% !important;}

.lost_reset_password input[type="submit"] {    background: #28acdc;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    border: none !important;}













