/**
 * @package    WordPress
 * @subpackage Time
 * @since      1.0
 */

/* Inset border, th, td, pre, hr, comments, toggles
----------------------------------------------------------------------------- */
.inset-border:after,
table, th, td,
pre,
hr,
.comments > li,
.comments .comment blockquote,
.toggles > div,
.flickr > ul > li img {
	border-color: #e0e0e0;
}
#bottom .inset-border:after,
#bottom th, #bottom td,
#bottom pre,
#bottom hr,
#bottom .comments > li,
#bottom .toggles > div,
#bottom .flickr > ul > li img {
	border-color: #3b3b3b;
}

/* Frame border
----------------------------------------------------------------------------- */
.frame-border {
	background-color: #fff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

/* Zoom hover
----------------------------------------------------------------------------- */
.zoom-hover > .zoom-hover-overlay > .zoom-hover-title-container > i.zoom-hover-title {
	color: #fff;
}
.zoom-hover > .zoom-hover-overlay > .zoom-hover-title-container > h3.zoom-hover-title {
	background: #fff;
}

/* Main font
----------------------------------------------------------------------------- */
body, input, select, textarea {
	color: #4e4e4e;
}
#bottom {
	color: #696969;
}
#bottom input:not([type="submit"]):not([type="reset"]):not([type="button"]), #bottom select, #bottom textarea {
	color: #737373;
}

/* Small, del, cite, caption, caption
----------------------------------------------------------------------------- */
small, .small, del, cite, figcaption, table caption {
	color: #b6b6b6;
}
#bottom small, #bottom .small, #bottom cite, #bottom figcaption, #bottom table caption {
	color: #575757;
}

/* Mark
----------------------------------------------------------------------------- */
mark {
	color: #fff;
}
mark.yellow {
	color: inherit;
	background-color: #fffd73;
}
#bottom mark.yellow {
	color: #1b1b1b;
	background-color: #ffe71e;
}

/* Headlines, Dropcap, toggles
----------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6,
.dropcap,
.toggles > div > span > i,
.social-icons a {
	color: #1b1b1b;
}
#bottom h1, #bottom h2, #bottom h3, #bottom h4, #bottom h5, #bottom h6,
#bottom .dropcap,
#bottom .toggles > div > span > i,
#bottom .social-icons a {
	color: #f0f0f0;
}

/* Table
----------------------------------------------------------------------------- */
thead tr {
	background-color: #4e4e4e;
	color: #f5f5f5;
}
tbody tr:nth-child(odd) {
	background-color: #f5f5f5;
}
table tfoot tr:first-child th,
table tfoot tr:first-child td {
	border-top-color: #4e4e4e;
}
#bottom thead tr {
	background-color: transparent; /* should be #111 */
	color: #f0f0f0;
}
#bottom tbody tr:nth-child(odd) {
	background-color: #272727;
}
#bottom table tfoot tr:first-child th,
#bottom table tfoot tr:first-child td {
	border-top-color: transparent;
}

/* Inputs
----------------------------------------------------------------------------- */
input, select, textarea, button, .button {

	background-color: #f5f5f5;
}
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.85) inset, 0 1px 0 0 rgba(0, 0, 0, 0.35);
	border-color: #d6d6d6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7));
	background: linear-gradient(to bottom, #ffffff 0%,#e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );
	text-shadow: 0 1px #fff;
	color: #1b1b1b;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
	color: #505050;
}
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active, .button:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#f6f6f6));
	background: linear-gradient(to bottom, #e4e4e4 0%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f6f6f6',GradientType=0 );
}
input[type="submit"] > i, input[type="reset"] > i, input[type="button"] > i, button > i, .button > i {
	text-shadow: 0 1px #fff, 0 -1px rgba(0, 0, 0, 0.7);
}
input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="button"]:disabled, button:disabled, .button.disabled {
	color: #9e9e9e;
	text-shadow: 0 1px rgba(255, 255, 255, 0.7);
	cursor: default;
}
input[type="submit"]:disabled:active, input[type="reset"]:disabled:active, input[type="button"]:disabled:active, button:disabled:active, .button.disabled:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7));
	background: linear-gradient(to bottom, #ffffff 0%,#e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );
}
input[type="submit"]:disabled > i, input[type="reset"]:disabled > i, input[type="button"]:disabled > i, button:disabled > i, .button.disabled > i {
	color: #9e9e9e !important;
	text-shadow: 0 1px rgba(255, 255, 255, 0.7);
}
.placeholder {
	color: #9a9a9a;
}
::-webkit-input-placeholder {
	color: #9a9a9a;
}
:-moz-placeholder {
	color: #9a9a9a;
}
:-ms-input-placeholder {
	color: #9a9a9a;
}
#bottom input:not([type="submit"]):not([type="reset"]):not([type="button"]), #bottom select, #bottom textarea {
	box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.85) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.1);
	border-color: #323232;
	background-color: #141414;
}
#bottom .placeholder {
	color: #4e4e4e;
}
#bottom ::-webkit-input-placeholder {
	color: #4e4e4e;
}
#bottom :-moz-placeholder {
	color: #4e4e4e;
}
#bottom :-ms-input-placeholder {
	color: #4e4e4e;
}
#bottom .search button[type="submit"] {
	color: #696969;
}

/* Rating
----------------------------------------------------------------------------- */
.rating i {
	color: #ffba00;
}
.rating i.pad {
	color: #e0e0e0;
}

/* Breadcrumbs
----------------------------------------------------------------------------- */
.breadcrumbs {
	color: #1b1b1b;
}

/* Message
----------------------------------------------------------------------------- */
.message {
	border-color: #e0e0e0;
	background-color: #f5f5f5;
	color: #1b1b1b;
}
.message > .close {
	background-color: #e0e0e0;
	color: #f5f5f5;
}
#bottom .message {
	border-color: #2c2c2c;
	background-color: #141414;
	color: #575757;
}
#bottom .message > .close {
	background-color: #2c2c2c;
	color: #141414;
}

/* Price table
----------------------------------------------------------------------------- */
.columns.price-table > ul > li,
.columns.price-table > ul > li > * {
	border-color: #e0e0e0;
}
.columns.price-table > ul > li:hover,
.columns.price-table:not(:hover) > ul > li.active {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
.columns.price-table > ul > li:hover > :last-child,
.columns.price-table:not(:hover) > ul > li.active > :last-child,
.columns.price-table > ul > li h1 {
	background-color: #f5f5f5;
}
.columns.price-table > ul > li > .sticker {
	color: #fff;
}
#bottom .columns.price-table > ul > li,
#bottom .columns.price-table > ul > li > * {
	border-color: #3b3b3b;
}
#bottom .columns.price-table > ul > li:hover > :last-child,
#bottom .columns.price-table:not(:hover) > ul > li.active > :last-child,
#bottom .columns.price-table > ul > li h1 {
	background-color: #272727;
}

/* Tabs
----------------------------------------------------------------------------- */
.tabs > .movable-container:after,
.tabs > * > .nav li {
	border-color: #e0e0e0;
}
.tabs > * > .nav li {
	background-color: #f5f5f5;
}
.tabs > * > .nav .active {
	border-bottom-color: #fff; /* same as background color */
	background-color: #fff;
}
#bottom .tabs > .movable-container:after,
#bottom .tabs > * > .nav li {
	border-color: #3b3b3b;
}
#bottom .tabs > * > .nav li {
	background-color: #272727;
}
#bottom .tabs > * > .nav .active {
	border-bottom-color: #1b1b1b;
	background-color: #1b1b1b;
}

/* Super tabs
----------------------------------------------------------------------------- */
.super-tabs > div,
.super-tabs > div > .nav li {
	border-color: #e0e0e0;
}
.super-tabs > div > .nav li {
	background-color: #f5f5f5;
}
.super-tabs > div > .nav .active {
	background-color: transparent;
}

/* Body, bottom
----------------------------------------------------------------------------- */
body,
#bottom {
	background-color: #0b0b0b;
}

/* Backgrounds
----------------------------------------------------------------------------- */
.backgrounds div.stripes:after {
	background-image: url(../img/stripes.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.backgrounds div.stripes:after {
		background-image: url(../img/stripes@2x.png);
	}
}

/* Top
----------------------------------------------------------------------------- */
#top {
	background-color: #f0f0f0;
}

/* Outer container
----------------------------------------------------------------------------- */
.outer-container {
	background-color: #fff;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
}
#bottom .outer-container {
	background-color: #1b1b1b;
	box-shadow: none;
}

/* Content
----------------------------------------------------------------------------- */
.layout-boxed .content aside.aside.alpha:before,
.layout-boxed .content aside.aside.beta:before {
	border-color: #dfdfdf; /* IE < 9 fallback */
}
.layout-boxed .content aside.aside.alpha:before {
	box-shadow: -5px 0 4px -5px rgba(0, 0, 0, 0.3) inset;
}
.layout-boxed .content aside.aside.beta:before {
	box-shadow: 5px 0 4px -5px rgba(0, 0, 0, 0.3) inset;
}

/* Section
----------------------------------------------------------------------------- */
.layout-boxed #top .section:before,
.layout-boxed #top aside.aside .section:last-child:after {
	box-shadow: 0 5px 4px -5px rgba(0, 0, 0, 0.3) inset;
	border-color: #dfdfdf; /* IE < 9 fallback */
}

/* Navigation
----------------------------------------------------------------------------- */
nav a {
	color: #1b1b1b;
}
#bottom nav a {
	color: #696969;
}

/* Primary navigation
----------------------------------------------------------------------------- */
nav.primary li:before {
	border-color: #e0e0e0;
}
nav.primary ul ul {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
	background-color: #fff;
}
nav.primary li li {
	border-color: #e0e0e0;
}

/* Secondary navigation
----------------------------------------------------------------------------- */
nav.secondary {
	box-shadow: 0 8px 7px -8px rgba(0, 0, 0, 0.15) inset, 0 -8px 7px -8px rgba(0, 0, 0, 0.15) inset;
	border-color: #dfdfdf; /* IE < 9 fallback */
}
nav.secondary:first-child {
	box-shadow: 0 -8px 7px -8px rgba(0, 0, 0, 0.15) inset;
}
nav.secondary:last-child {
	box-shadow: 0 8px 7px -8px rgba(0, 0, 0, 0.15) inset;
}
nav.secondary a {
	border-color: #e0e0e0;
}
nav.secondary ul ul {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
	background-color: #fff;
}
nav.secondary ul ul:before {
	background-color: rgba(216, 216, 216, 0.3);
}
nav.secondary li li {
	border-color: #e0e0e0;
}

/* Mobile navigation
----------------------------------------------------------------------------- */
nav.mobile li {
	border-color: #e0e0e0;
}
nav.mobile a:hover,
nav.mobile .current > a,
nav.mobile .current > a:hover {
	color: #fff;
}

/* Language navigation
----------------------------------------------------------------------------- */
nav.lang ul {
	border-color: #e0e0e0;
}
nav.lang a {
	color: #b6b6b6;
}

/* Aside navigation
----------------------------------------------------------------------------- */
nav.aside li {
	border-color: #e0e0e0;
}
nav.aside a:before {
	color: #169ad1;
}
nav.aside ul ul a:before {
	color: #28cfed;
}
#bottom nav.aside li {
	border-color: #3b3b3b;
}

/* Headline
----------------------------------------------------------------------------- */
.headline {
	background: rgba(240, 240, 240, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99f0f0f0', endColorstr='#99f0f0f0',GradientType=0 );
}

/* Footer
----------------------------------------------------------------------------- */
.footer p {
	color: #575757 !important;
}

/* MediaElements.js
----------------------------------------------------------------------------- */
.mejs-overlay-button {
	color: #fff;
}
.mejs-container .mejs-controls {
	background: #f0f0f0;
}
.mejs-container .mejs-controls .mejs-time span {
	color: #4e4e4e;
}
.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.85);
	border-color: #d6d6d6;
	background: #fff;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #4e4e4e;
}
.mejs-controls .mejs-time-rail .mejs-time-buffering {
	background-image: linear-gradient(-45deg, rgba(78, 78, 78, 0.15) 25%, transparent 25%, transparent 50%, rgba(78, 78, 78, 0.15) 50%, rgba(78, 78, 78, 0.15) 75%, transparent 75%, transparent);
}