/**
 * @package    WordPress
 * @subpackage Time
 * @since      1.0
 */

/* Inset border, th, td, pre, hr, comments, toggles
----------------------------------------------------------------------------- */
.inset-border:after,
table, th, td,
pre,
hr,
.comments > li,
.comments .comment blockquote,
.toggles > div,
.flickr > ul > li img {
	border-color: #333;
}
#bottom .inset-border:after,
#bottom th, #bottom td,
#bottom pre,
#bottom hr,
#bottom .comments > li,
#bottom .toggles > div,
#bottom .flickr > ul > li img {
	border-color: #c4c4c4;
}

/* Frame border
----------------------------------------------------------------------------- */
.frame-border {
	background-color: #000000;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

/* Zoom hover
----------------------------------------------------------------------------- */
.zoom-hover > .zoom-hover-overlay > .zoom-hover-title-container > i.zoom-hover-title {
	color: #000000;
}
.zoom-hover > .zoom-hover-overlay > .zoom-hover-title-container > h3.zoom-hover-title {
	background: #000000;
}

/* Main font
----------------------------------------------------------------------------- */
body, input, select, textarea {
	color: #b1b1b1;
}
#bottom {
	color: #656565;
}
#bottom input:not([type="submit"]):not([type="reset"]):not([type="button"]), #bottom select, #bottom textarea {
	color: #8c8c8c;
}

/* Small, del, cite, caption, caption
----------------------------------------------------------------------------- */
small, .small, del, cite, figcaption, table caption {
	color: #494949;
}
#bottom small, #bottom .small, #bottom cite, #bottom figcaption, #bottom table caption {
	color: #a8a8a8;
}

/* Mark
----------------------------------------------------------------------------- */
mark {
	color: #000000;
}
mark.yellow {
	background-color: #fffd73;
}
#bottom mark.yellow {
	color: #e4e4e4;
	background-color: #0018e1;
}

/* Headlines, Dropcap, toggles
----------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6,
.dropcap,
.toggles > div > span > i,
.social-icons a {
	color: #e4e4e4;
}
#bottom h1, #bottom h2, #bottom h3, #bottom h4, #bottom h5, #bottom h6,
#bottom .dropcap,
#bottom .toggles > div > span > i,
#bottom .social-icons a {
	color: #0f0f0f;
}

/* Table
----------------------------------------------------------------------------- */
thead tr {
	background-color: #1f1f1f;
	color: #e4e4e4;
}
tbody tr:nth-child(odd) {
	background-color: #0a0a0a;
}
table tfoot tr:first-child th,
table tfoot tr:first-child td {
	border-top-color: #1f1f1f;
}
#bottom thead tr {
	background-color: transparent; /* should be #000eee */
	color: #0f0f0f;
}
#bottom tbody tr:nth-child(odd) {
	background-color: #d8d8d8;
}
#bottom table tfoot tr:first-child th,
#bottom table tfoot tr:first-child td {
	border-top-color: transparent;
}

/* Inputs
----------------------------------------------------------------------------- */
input, select, textarea, button, .button {
	box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.85) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.2);
	border-color: #3b3b3b !important;
	background-color: #1f1f1f;
}
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 1px 0 0 rgba(0, 0, 0, 0.4);
	border-color: #292929;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c8c8c), color-stop(100%,#474747));
	background: linear-gradient(to bottom, #8c8c8c 0%,#474747 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#474747',GradientType=0 );
	text-shadow: 0 1px rgba(0, 0, 0, 0.6);
	color: #e4e4e4;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
	color: #fff;
}
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active, .button:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b1b1b), color-stop(100%,#090909));
	background: linear-gradient(to bottom, #474747 0%,#8c8c8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#090909',GradientType=0 );
}
input[type="submit"] > i, input[type="reset"] > i, input[type="button"] > i, button > i, .button > i {
	text-shadow: 0 1px rgba(0, 0, 0, 0.6), 0 -1px rgba(255, 255, 255, 0.4);
}
input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="button"]:disabled, button:disabled, .button.disabled {
	color: #b0b0b0;
	text-shadow: 0 1px rgba(0, 0, 0, 0.5);
	cursor: default;
}
input[type="submit"]:disabled:active, input[type="reset"]:disabled:active, input[type="button"]:disabled:active, button:disabled:active, .button.disabled:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c8c8c), color-stop(100%,#474747));
	background: linear-gradient(to bottom, #8c8c8c 0%,#474747 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#474747',GradientType=0 );
}
input[type="submit"]:disabled > i, input[type="reset"]:disabled > i, input[type="button"]:disabled > i, button:disabled > i, .button.disabled > i {
	color: #b0b0b0 !important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
.placeholder {
	color: #656565;
}
::-webkit-input-placeholder {
	color: #656565;
}
:-moz-placeholder {
	color: #656565;
}
:-ms-input-placeholder {
	color: #656565;
}
#bottom input:not([type="submit"]):not([type="reset"]):not([type="button"]), #bottom select, #bottom textarea {
	box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.85);
	border-color: #cdcdcd;
	background-color: #ebebeb;
}
#bottom .placeholder {
	color: #b1b1b1;
}
#bottom ::-webkit-input-placeholder {
	color: #b1b1b1;
}
#bottom :-moz-placeholder {
	color: #b1b1b1;
}
#bottom :-ms-input-placeholder {
	color: #b1b1b1;
}
#bottom .search button[type="submit"] {
	color: #656565;
}

/* Rating
----------------------------------------------------------------------------- */
.rating i {
	color: #ffba00;
}
.rating i.pad {
	color: #333;
}

/* Breadcrumbs
----------------------------------------------------------------------------- */
.breadcrumbs {
	color: #e4e4e4;
}

/* Message
----------------------------------------------------------------------------- */
.message {
	border-color: #333;
	background-color: #1f1f1f;
	color: #e4e4e4;
}
.message > .close {
	background-color: #1f1f1f;
	color: #0a0a0a;
}
#bottom .message {
	border-color: #d3d3d3;
	background-color: #ebebeb;
	color: #a8a8a8;
}
#bottom .message > .close {
	background-color: #d3d3d3;
	color: #ebebeb;
}

/* Price table
----------------------------------------------------------------------------- */
.columns.price-table > ul > li,
.columns.price-table > ul > li > * {
	border-color: #333;
}
.columns.price-table > ul > li:hover,
.columns.price-table:not(:hover) > ul > li.active {
	box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.4);
}
.columns.price-table > ul > li:hover > :last-child,
.columns.price-table:not(:hover) > ul > li.active > :last-child,
.columns.price-table > ul > li h1 {
	background-color: #1f1f1f;
}
.columns.price-table > ul > li > .sticker {
	color: #fff;
}
#bottom .columns.price-table > ul > li,
#bottom .columns.price-table > ul > li > * {
	border-color: #c4c4c4;
}
#bottom .columns.price-table > ul > li:hover > :last-child,
#bottom .columns.price-table:not(:hover) > ul > li.active > :last-child,
#bottom .columns.price-table > ul > li h1 {
	background-color: #d8d8d8;
}

/* Tabs
----------------------------------------------------------------------------- */
.tabs > .movable-container:after,
.tabs > * > .nav li {
	border-color: #333;
}
.tabs > * > .nav li {
	background-color: #1f1f1f;
}
.tabs > * > .nav .active {
	border-bottom-color: #090909; /* same as background color */
	background-color: #090909;
}
#bottom .tabs > .movable-container:after,
#bottom .tabs > * > .nav li {
	border-color: #c4c4c4;
}
#bottom .tabs > * > .nav li {
	background-color: #d8d8d8;
}
#bottom .tabs > * > .nav .active {
	border-bottom-color: #e4e4e4;
	background-color: #e4e4e4;
}

/* Super tabs
----------------------------------------------------------------------------- */
.super-tabs > div,
.super-tabs > div > .nav li {
	border-color: #333;
}
.super-tabs > div > .nav li {
	background-color: #1f1f1f;
}
.super-tabs > div > .nav .active {
	background-color: transparent;
}

/* Body, bottom
----------------------------------------------------------------------------- */
body,
#bottom {
	background-color: #b4b4b4;
}

/* Backgrounds
----------------------------------------------------------------------------- */
.backgrounds div.stripes:after {
	background-image: url(../img/stripes.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.backgrounds div.stripes:after {
		background-image: url(../img/stripes@2x.png);
	}
}

/* Top
----------------------------------------------------------------------------- */
#top {
	background-color: #1f1f1f;
}

/* Outer container
----------------------------------------------------------------------------- */
.outer-container {
	background-color: #090909;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
}
#bottom .outer-container {
	background-color: #e4e4e4;
	box-shadow: none;
}

/* Content
----------------------------------------------------------------------------- */
.layout-boxed .content aside.aside.alpha:before,
.layout-boxed .content aside.aside.beta:before {
	border-color: #2d2d2d; /* IE < 9 fallback */
}
.layout-boxed .content aside.aside.alpha:before {
	box-shadow: -3px 0 2px -3px rgba(255, 255, 255, 0.4) inset;
}
.layout-boxed .content aside.aside.beta:before {
	box-shadow: 3px 0 2px -3px rgba(255, 255, 255, 0.4) inset;
}

/* Section
----------------------------------------------------------------------------- */
.layout-boxed #top .section:before,
.layout-boxed #top aside.aside .section:last-child:after {
	box-shadow: 0 3px 2px -3px rgba(255, 255, 255, 0.4) inset;
	border-color: #2d2d2d; /* IE < 9 fallback */
}

/* Navigation
----------------------------------------------------------------------------- */
nav a {
	color: #e4e4e4;
}
#bottom nav a {
	color: #656565;
}

/* Primary navigation
----------------------------------------------------------------------------- */
nav.primary li:before {
	border-color: #333;
}
nav.primary ul ul {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
	background-color: #1f1f1f;
}
nav.primary li li {
	border-color: #2a2a2a;
}

/* Secondary navigation
----------------------------------------------------------------------------- */
nav.secondary {
	box-shadow: 0 3px 2px -3px rgba(255, 255, 255, 0.4) inset, 0 -3px 2px -3px rgba(255, 255, 255, 0.4) inset;
	border-color: #2d2d2d; /* IE < 9 fallback */
}
nav.secondary:first-child {
	box-shadow: 0 -3px 2px -3px rgba(255, 255, 255, 0.4) inset;
}
nav.secondary:last-child {
	box-shadow: 0 3px 2px -3px rgba(255, 255, 255, 0.4) inset;
}
nav.secondary a {
	border-color: #1f1f1f;
}
nav.secondary ul ul {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
	background-color: #1f1f1f;
}
nav.secondary ul ul:before {
	background-color: rgba(39, 39, 39, 0.4);
}
nav.secondary li li {
	border-color: #2a2a2a;
}

/* Mobile navigation
----------------------------------------------------------------------------- */
nav.mobile {
	background-color: #1f1f1f;
}
nav.mobile li {
	border-color: #2a2a2a;
}
nav.mobile a:hover,
nav.mobile .current > a,
nav.mobile .current > a:hover {
	color: #000000;
}

/* Language navigation
----------------------------------------------------------------------------- */
nav.lang ul {
	border-color: #333;
}
nav.lang a {
	color: #494949;
}

/* Aside navigation
----------------------------------------------------------------------------- */
nav.aside li {
	border-color: #333;
}
nav.aside a:before {
	color: #169ad1;
}
nav.aside ul ul a:before {
	color: #28cfed;
}
#bottom nav.aside li {
	border-color: #c4c4c4;
}

/* Headline
----------------------------------------------------------------------------- */
.headline {
	background: rgba(15, 15, 15, 0.4);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660f0f0f', endColorstr='#660f0f0f',GradientType=0 );
}

/* Footer
----------------------------------------------------------------------------- */
.footer p {
	color: #656565 !important;
}

/* MediaElements.js
----------------------------------------------------------------------------- */
.mejs-overlay-button {
	color: #000000;
}
.mejs-container .mejs-controls {
	background: #0f0f0f;
}
.mejs-container .mejs-controls .mejs-time span {
	color: #b1b1b1;
}
.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 1px 0 0 rgba(0, 0, 0, 0.85);
	border-color: #292929;
	background: #000000;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #b1b1b1;
}
.mejs-controls .mejs-time-rail .mejs-time-buffering {
	background-image: linear-gradient(-45deg, rgba(177, 177, 177, 0.15) 25%, transparent 25%, transparent 50%, rgba(177, 177, 177, 0.15) 50%, rgba(177, 177, 177, 0.15) 75%, transparent 75%, transparent);
}