/**
 * @package    WordPress
 * @subpackage Time
 * @since      1.0
 */

/* HTML
----------------------------------------------------------------------------- */
html {
	border-top-style: hidden; /* for JS mobile detection */
}

/* Alpha, beta
----------------------------------------------------------------------------- */
.alpha, .beta {
	float: none;
	width: auto !important;
}

/* Align
----------------------------------------------------------------------------- */
.alignleft:not(.fixed),
.alignright:not(.fixed) {
	float: none;
}

/* Full width mobile
----------------------------------------------------------------------------- */
.full-width-mobile {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

/* Media
----------------------------------------------------------------------------- */
.desktop-only {
	display: none;
}
#layerslider .desktop-only {
	display: none !important;
}
.mobile-only {
	display: block;
}
.mobile-only.inline {
	display: inline;
}
#layerslider .mobile-only {
	display: block !important;
}
#layerslider .mobile-only.inline {
	display: inline !important;
}

/* Grayscale hover
----------------------------------------------------------------------------- */
.grayscale-hover > img {
	visibility: none;
}
.grayscale-hover > .grayscale-hover-image {
	opacity: 1 !important;
	visibility: visible;
}

/* Image
----------------------------------------------------------------------------- */
figure.alignleft:not(.fixed),
figure.alignright:not(.fixed),
img.alignleft:not(.fixed),
img.alignright:not(.fixed) {
	margin: 18px auto;
}
figure.alignleft:not(.fixed):first-child,
figure.alignright:not(.fixed):first-child,
img.alignleft:not(.fixed):first-child,
img.alignright:not(.fixed):first-child {
	margin-top: 0;
}
figure.alignleft:not(.fixed):last-child,
figure.alignright:not(.fixed):last-child,
img.alignleft:not(.fixed):last-child,
img.alignright:not(.fixed):last-child {
	margin-bottom: 0;
}

/* Table
----------------------------------------------------------------------------- */
table.alt-mobile, table.alt-mobile tbody, table.alt-mobile tfoot, table.alt-mobile caption,
table.alt-mobile tr, table.alt-mobile th, table.alt-mobile td {
	display: block;
}
table.alt-mobile caption {
	margin-top: 0;
	margin-bottom: 2px;
}
table.alt-mobile thead {
	display: none;
}
table.alt-mobile tbody th,
table.alt-mobile tbody td {
	border-bottom-width: 0;
	width: auto !important;
}
table.alt-mobile tbody:last-child tr:last-child :last-child {
	border-bottom-width: 1px;
}
table.alt-mobile tbody .alt-mobile-labeled {
	text-align: left;
	padding-left: 35%;
}
table.alt-mobile tbody .alt-mobile-label {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: bold;
	text-align: left;
	display: block;
	position: absolute;
	padding: 0 10px;
	left: 0;
	width: 35%;
}

/* Quote
----------------------------------------------------------------------------- */
blockquote.alignleft:not(.fixed),
blockquote.alignright:not(.fixed) {
	margin-left: 0;
	margin-right: 0;
	width: auto !important;
}

/* Sticky
----------------------------------------------------------------------------- */
.section > .sticky:before {
	left: -10px;
}

/* Columns
----------------------------------------------------------------------------- */
.columns > ul > li {
	width: 100%;
}
.columns.alt-mobile > ul > li.clear-row {
	clear: none;
}
.columns.alt-mobile > ul > li.mobile-1-clear-row {
	clear: left;
}
.columns.reversed.alt-mobile > ul > li.mobile-1-clear-row {
	clear: right;
}
.columns.alt-mobile .col-1-1, .columns.alt-mobile .col-1-2 { width: 100.00%; }
.columns.alt-mobile .col-1-3, .columns.alt-mobile .col-1-4 { width: 50.00%; }
.columns.alt-mobile .col-1-5, .columns.alt-mobile .col-1-6 { width: 33.33%; }
.columns.alt-mobile .col-1-7, .columns.alt-mobile .col-1-8 { width: 25.00%; }
.columns.alt-mobile .col-1-9, .columns.alt-mobile .col-1-10 { width: 20.00%; }
.columns.alt-mobile .col-1-11, .columns.alt-mobile .col-1-12 { width: 16.66%; }
.columns.alt-mobile .col-1-13, .columns.alt-mobile .col-1-14 { width: 14.28%; }
.columns.alt-mobile .col-1-15, .columns.alt-mobile .col-1-16 { width: 12.50%; }
.columns.alt-mobile .col-1-17, .columns.alt-mobile .col-1-18 { width: 11.11%; }
.columns.alt-mobile .col-1-19, .columns.alt-mobile .col-1-20 { width: 10.00%; }
@media only screen and (max-width: 359px) {
	.columns.alt-mobile > ul > li.mobile-1-clear-row {
		clear: none;
	}
	.columns.alt-mobile > ul > li.mobile-2-clear-row {
		clear: left;
	}
	.columns.reversed.alt-mobile > ul > li.mobile-2-clear-row {
		clear: right;
	}
	.columns.alt-mobile .col-1-1, .columns.alt-mobile .col-1-2, .columns.alt-mobile .col-1-3, .columns.alt-mobile .col-1-4 { width: 100.00%; }
	.columns.alt-mobile .col-1-5, .columns.alt-mobile .col-1-6, .columns.alt-mobile .col-1-7, .columns.alt-mobile .col-1-8 { width: 50.00%; }
	.columns.alt-mobile .col-1-9, .columns.alt-mobile .col-1-10, .columns.alt-mobile .col-1-11, .columns.alt-mobile .col-1-12 { width: 33.33%; }
	.columns.alt-mobile .col-1-13, .columns.alt-mobile .col-1-14, .columns.alt-mobile .col-1-15, .columns.alt-mobile .col-1-16 { width: 25.00%; }
	.columns.alt-mobile .col-1-17, .columns.alt-mobile .col-1-18, .columns.alt-mobile .col-1-19, .columns.alt-mobile .col-1-20 { width: 16.66%; }
}

/* Super tabs
----------------------------------------------------------------------------- */
.layout-boxed .section .super-tabs > div {
	margin-left: -10px;
	margin-right: -10px;
}
.super-tabs > div {
	height: auto !important;
}
.super-tabs > div > .nav,
.super-tabs > div  > div[title] {
	float: none;
	width: 100%;
}
.super-tabs > div > .nav li {
	border-width: 1px 0 0 0 !important;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Bricks
----------------------------------------------------------------------------- */
.bricks .bricks-box {
	width: 100%;
}
.bricks.alt-mobile[data-bricks-columns="1"] .bricks-box,
.bricks.alt-mobile[data-bricks-columns="2"] .bricks-box {
	width: 100%;
}
.bricks.alt-mobile[data-bricks-columns="3"] .bricks-box,
.bricks.alt-mobile[data-bricks-columns="4"] .bricks-box {
	width: 49.9%;
}
.bricks.alt-mobile[data-bricks-columns="5"] .bricks-box,
.bricks.alt-mobile[data-bricks-columns="6"] .bricks-box {
	width: 33.2%;
}
.bricks.alt-mobile[data-bricks-columns="7"] .bricks-box,
.bricks.alt-mobile[data-bricks-columns="8"] .bricks-box {
	width: 24.9%;
}
.bricks.alt-mobile[data-bricks-columns="9"] .bricks-box,
.bricks.alt-mobile[data-bricks-columns="10"] .bricks-box {
	width: 19.9%;
}
@media only screen and (max-width: 359px) {
	.bricks.alt-mobile[data-bricks-columns="1"] .bricks-box,
	.bricks.alt-mobile[data-bricks-columns="2"] .bricks-box,
	.bricks.alt-mobile[data-bricks-columns="3"] .bricks-box,
	.bricks.alt-mobile[data-bricks-columns="4"] .bricks-box {
		width: 100%;
	}
	.bricks.alt-mobile[data-bricks-columns="5"] .bricks-box,
	.bricks.alt-mobile[data-bricks-columns="6"] .bricks-box,
	.bricks.alt-mobile[data-bricks-columns="7"] .bricks-box,
	.bricks.alt-mobile[data-bricks-columns="8"] .bricks-box {
		width: 49.9%;
	}
	.bricks.alt-mobile[data-bricks-columns="9"] .bricks-box,
	.bricks.alt-mobile[data-bricks-columns="10"] .bricks-box {
		width: 33.2%;
	}
}

/* Body
----------------------------------------------------------------------------- */
body {
	min-width: 240px;
}

/* Backgrounds
----------------------------------------------------------------------------- */
.layout-boxed .outer-container .backgrounds,
.layout-boxed .under-container .backgrounds {
	display: block;
}

/* Top, bottom
----------------------------------------------------------------------------- */
.layout-boxed #top,
.layout-boxed #bottom {
	padding-left: 0;
	padding-right: 0;
}

/* Under container
----------------------------------------------------------------------------- */
.layout-boxed .under-container {
 	margin: 0 !important;
	padding: 0 !important;
}
.layout-boxed .under-container.transparent-next {
	margin-bottom: -78px !important; /* mobile headline height */
	padding-bottom: 78px !important;
}

/* Content
----------------------------------------------------------------------------- */
.layout-boxed .content aside.aside:before {
	display: none;
}

/* Section
----------------------------------------------------------------------------- */
.section {
	padding-left: 10px;
	padding-right: 10px;
}
.layout-boxed #top aside.aside .section:last-child:after {
	position: static;
	height: 0;
	visibility: hidden;
}
.layout-boxed #top :not(.outer-container) > .section:first-child:before {
	display: block;
}
.layout-boxed #top :first-child > .section:first-child:before {
	display: none;
}
.layout-boxed #top .content .content .section:before,
.layout-boxed #top .content + .content .section:before,
.layout-boxed #top .section + .content .section:before {
	display: block;
}

/* Mobile helper
----------------------------------------------------------------------------- */
.mobile-helper {
	display: block;
}

/* Logo
----------------------------------------------------------------------------- */
.logo {
	text-align: center;
	float: none;
	max-width: 100%;
}
.logo img {
	margin-left: auto;
	margin-right: auto;
}

/* Primary navigation
----------------------------------------------------------------------------- */
nav.primary {
	display: none;
}

/* Secondary navigation
----------------------------------------------------------------------------- */
.layout-open nav.secondary li:first-child a {
	border-left-width: 0;
}

nav.secondary ul ul { /* Level 1+ */
	box-shadow: none;
	background: none;
	display: inline-block !important;
	position: relative;
	float: none;
	left: auto !important;
	top: auto !important;
}
nav.secondary ul ul:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
nav.secondary li li {
	border-top-width: 0;
	display: inline-block;
}
nav.secondary li li a {
	border-right-width: 1px;
}
.layout-open nav.secondary li li:first-child a {
	border-left-width: 0;
}
nav.secondary li li.sub > a {
	padding-right: 15px;
}
nav.secondary li li.sub > a:after {
	position: static;
}

/* Mobile navigation
----------------------------------------------------------------------------- */
nav.mobile {
	height: auto;
	visibility: visible;
}

/* Language navigation
----------------------------------------------------------------------------- */
nav.lang ul {
	padding-right: 10px;
}

/* Aside navigation
----------------------------------------------------------------------------- */
aside.aside nav.aside > ul {
	margin-left: -10px;
	margin-right: -10px;
}
aside.aside nav.aside a {
	border-width: 0 10px;
}

/* Headline
----------------------------------------------------------------------------- */
.headline .breadcrumbs {
	text-align: left;
	float: none;
	margin-left: 0;
	padding-top: 0;
	max-width: none;
}

/* Footer
----------------------------------------------------------------------------- */
.layout-boxed .footer .container {
	padding-left: 0;
	padding-right: 0;
}
.layout-boxed .footer .section {
	padding-left: 10px;
	padding-right: 10px;
}

/* LayerSlider
----------------------------------------------------------------------------- */
.ls-time-bright .ls-nav-prev,
.ls-time-bright .ls-nav-next,
.ls-time-dark .ls-nav-prev,
.ls-time-dark .ls-nav-next {
	display: none;
}

/* WooCommerce
----------------------------------------------------------------------------- */

/* Overall */
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count,
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
	float: none;
	margin-bottom: 10px;
}

/* Cart */
@media only screen and (max-width: 519px) {
	.woocommerce table.cart .product-subtotal,
	.woocommerce-page table.cart .product-subtotal {
		display: none;
	}
}