.speaker-custom-fields-container .time-child-row{margin:10px 0px 10px 0px;}
.speaker-custom-fields-container .time-child-row label{width: 15%;font-weight: bold;font-size: 17px;}
.speaker-custom-fields-container .time-child-row input[type="text"]{width: 100%;height:2.7em;}
