/**
 * @package    WordPress
 * @subpackage Drone
 * @since      2.0
 */

/* TinyMCE
----------------------------------------------------------------------------- */
.mce-fieldset.mce-drone-wp-skin-fix > .mce-container-body {
    margin-top: 0;
}
[class^="mce-i-drone-"],
[class*=" mce-i-drone-"] {
	font: normal 16px/1 "drone-shortcode-options" !important;
	vertical-align: top !important;
}
.mce-toolbar .mce-btn [class^="mce-i-drone-"],
.mce-toolbar .mce-btn [class*=" mce-i-drone-"] {
	font-size: 18px !important;
}

/* Visual Composer
----------------------------------------------------------------------------- */
.vc_element-icon[class^="mce-i-drone-"],
.vc_element-icon[class*=" mce-i-drone-"] {
	background: none;
	font-size: 32px !important;
}
.vc_admin_label {
	margin-right: 15px !important;
}

/* Group
----------------------------------------------------------------------------- */
.drone-group .drone-group {
	margin-top: -15px;
	margin-bottom: -15px !important;
}

/* Row
----------------------------------------------------------------------------- */
.drone-row + .drone-row {
	border-top: 1px dotted #dfdfdf;
}
.drone-group .drone-group .drone-row + .drone-row {
	border-top: none;
}
.drone-group .drone-group .drone-row + .drone-row > th {
	padding-top: 5px;
}
.drone-group .drone-group .drone-row + .drone-row > td {
	padding-top: 0;
}
.drone-row > td:first-child {
	padding-left: 0;
}
.drone-row.drone-hidden {
	display: none;
}
.drone-row.drone-indent > :first-child > label,
.drone-row.drone-indent > :first-child > .drone-option,
.drone-widget-options .drone-row.drone-indent > label,
.drone-widget-options .drone-row.drone-indent > .drone-option {
	border-left: 1px solid #dfdfdf;
	margin-left: 6px;
	padding-left: 15px;
}

/* Label, description
----------------------------------------------------------------------------- */
.drone-label label {
	display: block;
}
.drone-group .drone-group .drone-label {
	width: 130px;
}
.drone-group .drone-group .drone-label {
	width: 130px;
}

.drone-theme-options .drone-description {
	font-size: 12px;
}

/* Theme options
----------------------------------------------------------------------------- */
.drone-theme-options .drone-row.drone-error > .drone-label > label:before,
.drone-theme-options .drone-row.drone-info > .drone-label > label:before,
.drone-theme-options span.drone-error:before,
.drone-theme-options span.drone-info:before {
	font: normal 1.4em/1 dashicons;
	margin-right: 0.2em;
	vertical-align: middle;
}
.drone-theme-options .drone-row.drone-error > .drone-label > label:before,
.drone-theme-options span.drone-error:before {
	content: '\f153';
	color: #d54e21;
}
.drone-theme-options .drone-row.drone-info > .drone-label > label:before,
.drone-theme-options span.drone-info:before {
	content: '\f348';
	color: #2ea2cc;
}
.drone-theme-options .submit {
	height: 28px;
}
.drone-theme-options .submit #submit {
	transition: opacity 0.1s;
}
.drone-theme-options .submit.fixed #submit {
	opacity: 0.3;
	position: fixed;
	bottom: 20px;
}
.drone-theme-options .submit.fixed #submit:hover {
	opacity: 1;
}

/* Post options
----------------------------------------------------------------------------- */
.drone-post-options {
	margin: -6px -12px -12px;
}
.drone-post-options .drone-group,
.drone-post-options .drone-group td,
.drone-post-options .drone-group th,
.drone-post-options .drone-group td p {
	font-size: 13px;
}
.drone-post-options .drone-label {
	padding-left: 12px;
}
.drone-post-options .drone-group .drone-group .drone-label {
	padding-left: 0;
}
#side-sortables .drone-post-options .drone-label {
	width: 40%;
}
.drone-post-options .drone-group + .drone-description {
	border-top: 1px dotted #dfdfdf;
	margin: 0;
	padding: 6px 10px;
}

/* Gallery options
----------------------------------------------------------------------------- */
.collection-settings .setting span {
	min-width: 30%;
}
.drone-gallery-options .drone-row {
	border-top: none;
}

/* Widget options
----------------------------------------------------------------------------- */
.drone-widget-options {
	min-height: 15px;
}
.drone-widget-options .drone-row {
	border-top: none !important;
	margin: 1em 0;
}
.drone-widget-options .drone-label {
	line-height: 1.5em;
	display: block;
}
.drone-widget-options .drone-description {
	line-height: 1.5em;
	padding: 0 !important;
}

/* Text option
----------------------------------------------------------------------------- */
.drone-theme-options .drone-option-text {
	width: 300px;
}
.drone-post-options .drone-option-text {
	width: 400px;
}

#side-sortables .drone-post-options .drone-option-text {
	width: 99%;
}

.drone-widget-options .drone-option-text {
	margin: 0;
	width: 100%;
}

/* Memo option
----------------------------------------------------------------------------- */
.drone-theme-options .drone-option-memo {
	width: 750px;
	height: 250px;
}

.drone-post-options .drone-option-memo {
	width: 99%;
	height: 6em;
}

.drone-widget-options .drone-option-memo {
	margin: 0;
	width: 100%;
	height: 6em;
}

/* Code option
----------------------------------------------------------------------------- */
.drone-option-memo {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

/* Numer option
----------------------------------------------------------------------------- */
.drone-option-number {
	text-align: right;
	width: 70px;
}
.drone-option-number + span {
	text-align: left !important;
}

.drone-gallery-options .drone-option-number {
	float: left !important;
	width: 70px !important;
}
.drone-gallery-options .drone-option-number + span {
	margin-left: 0.4em;
}

.drone-widget-options .drone-option-number {
	margin: 0;
}

.mce-drone-option-number {
	text-align: right !important;
	width: 70px !important;
}
.mce-drone-option-number-unit {
	line-height: 30px !important;
	margin-left: 0.4em !important;
}

/* Select option
----------------------------------------------------------------------------- */
.drone-option-select {
	min-width: 150px;
	max-width: 500px;
}
select.drone-option-select {
	vertical-align: baseline;
}
.wp-admin .drone-option-select[multiple] {
	height: 124px;
}

#side-sortables .drone-post-options .drone-option-select {
	min-width: 0;
	width: 99%;
}

.drone-widget-options .drone-option-select {
	margin: 0;
	min-width: 50px;
	width: 100%;
}

/* Group option
----------------------------------------------------------------------------- */
.drone-option-group {
	display: inline-block;
}
.drone-option-group label {
	white-space: nowrap;
}
.drone-option-group.drone-option-group-vertical label {
	display: block;
}
.drone-option-group.drone-option-group-horizontal label {
	display: inline-block;
}
.drone-option-group.drone-option-group-horizontal label + label {
	margin-left: 15px !important;
}
.drone-option-group.drone-option-group-sortable label {
	cursor: move;
}
.drone-option-group label sup {
	line-height: 0;
}
.drone-option-group .drone-option-group-placeholder {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px dashed #dfdfdf;
	height: 1.4em;
}

.drone-widget-options .drone-option-group label {
	line-height: 1.4em;
	margin: 0.25em 0px 0.5em;
}

/* Attachment option
----------------------------------------------------------------------------- */
.drone-option-attachment span {
	border-bottom: 1px solid #dfdfdf;
	display: inline-block;
	padding: 4px 0 4px;
	vertical-align: middle;
}
.drone-option-attachment a {
	vertical-align: middle;
}

.drone-theme-options .drone-option-attachment span {
	width: 300px;
}

.drone-post-options .drone-option-attachment span {
	width: 400px;
}
#side-sortables .drone-post-options .drone-option-attachment span {
	width: 99%;
}

.drone-widget-options .drone-option-attachment span {
	margin: 0;
	width: 100%;
}

/* Image Select option
----------------------------------------------------------------------------- */
.drone-option-image-select {
	line-height: 0;
	position: relative;
	margin: 1px;
}
.drone-option-image-select a {
	outline: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	position: relative;
}
.drone-option-image-select:not(.drone-ready) a {
	visibility: hidden;
}
.drone-option-image-select a:after {
	content: '';
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px dotted #999;
	display: none;
	position: absolute;
	left: 4px;
	top: 4px;
	right: 4px;
	bottom: 4px;
}
.drone-option-image-select a[data-value=""] img,
.drone-option-image-select a[data-value=""] i {
	visibility: hidden;
}
.drone-option-image-select a[data-value=""]:after {
	display: block;
}
.drone-option-image-select img,
.drone-option-image-select i {
	display: inline-block;
}
.drone-option-image-select i {
	font-size: 16px;
	font-style: normal;
	line-height: 16px;
	text-align: center;
	width: 16px;
	height: 16px;
}
.drone-option-image-select .current {
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
	padding: 5px 26px 5px 7px !important;
}
.drone-option-image-select .current.focus {
	box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
	border-color: #5b9dd9;
}
.drone-option-image-select .current:before {
	content: '';
	border: 4px solid transparent;
	border-top-color: captiontext;
	display: block;
	position: absolute;
	margin-top: -1px;
	right: 7px;
	top: 50%;
	width: 0;
	height: 0;
}
.drone-option-image-select .current:after {
	left: 7px;
	right: 26px;
	top: 5px;
	bottom: 5px;
}
.drone-option-image-select .options {
	border: 1px solid #999;
	background-color: #fff;
	cursor: default;
	display: none;
	position: absolute;
	margin-top: 1px;
	padding: 4px;
	left: 0;
	right: -999px;
	top: 100%;
	max-width: 410px;
	max-height: 224px;
	overflow-y: auto;
	z-index: 1;
}
.drone-option-image-select .options.horizontal {
	right: auto;
	max-width: initial !important;
}
.drone-option-image-select .options.vertical {
	right: auto;
	max-height: initial !important;
}
.drone-option-image-select .options.vertical a {
	display: block;
}
.drone-option-image-select .options a {
	padding: 6px;
}
.drone-option-image-select .options a.selected {
	border-radius: 2px;
	background-color: #00a0d2;
	color: #fff;
}

.drone-widget-options .drone-option-image-select {
	margin: 0;
}
.drone-widget-options .drone-option-image-select .options {
	max-width: 242px;
}

/* Post option
----------------------------------------------------------------------------- */
.drone-option-post a {
	display: inline-block;
	margin: 2px 0 0 1px;
}
.drone-option-post a[href=""] {
	display: none;
}

.drone-widget-options .drone-option-post a {
	margin-left: 0;
}

/* Color option
----------------------------------------------------------------------------- */
.drone-option-color {
	width: 70px;
}

.drone-widget-options .drone-option-color {
	margin: 0;
}

.mce-drone-option-color {
	width: 70px !important;
}

/* Collection option
----------------------------------------------------------------------------- */
.drone-option-collection > .items {
	list-style: decimal outside;
	position: relative;
	margin: 0 0 6px 20px;
}
.drone-option-collection > .items:empty {
	display: none;
}
.drone-option-collection[data-sortable="true"] > .items > li {
	cursor: move;
}
.drone-option-collection > .items > li > div {
	display: inline-block;
	margin-right: 10px;
}
.drone-option-collection > .items > li > .delete {
	visibility: hidden;
}
.drone-option-collection > .items > li:hover > .delete {
	visibility: visible;
}
.drone-option-collection > .prototype {
	display: none;
}
.drone-option-collection > .controls {
	clear: both;
}
.drone-option-collection .placeholder {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px dashed #dfdfdf;
	display: block;
}

.drone-widget-options .drone-option-collection > .items > li {
	position: relative;
	padding-bottom: 31px;
}
.drone-widget-options .drone-option-collection > .items > li > div {
	display: block;
	margin-right: 0;
}
.drone-widget-options .drone-option-collection > .items > li > .delete {
	position: absolute;
	bottom: 0;
	right: 0;
}

/* Coditional Tags option
----------------------------------------------------------------------------- */
.drone-option-conditional-tags > .conditions {
	display: inline-block;
	margin: 0;
}
.drone-option-conditional-tags > .conditions:empty {
	display: none;
}
.drone-option-conditional-tags > .conditions > li {
	position: relative;
	margin-bottom: 20px;
}

.drone-option-conditional-tags > .conditions > li > label {
	border-radius: 2px;
	background: #dfdfdf;
	line-height: 32px;
	display: block;
	margin-bottom: 10px;
	padding: 0 70px 0 10px;
	min-width: 185px;
}
.drone-option-conditional-tags > .conditions > li > label span {
	font-weight: bold;
}
.drone-option-conditional-tags > .conditions > li > label select {
	vertical-align: baseline;
	max-width: 150px;
}
.drone-option-conditional-tags > .conditions > li > .delete {
	display: block;
	position: absolute;
	right: 2px;
	top: 2px;
	visibility: hidden;
}
.drone-option-conditional-tags > .conditions > li:hover > .delete {
	visibility: visible;
}
.drone-option-conditional-tags > .prototype {
	display: none;
}

/* Interval option
----------------------------------------------------------------------------- */
.drone-option-interval select {
	min-width: 0;
}

.drone-widget-options .drone-option-interval select {
	width: auto;
}

/* Background option
----------------------------------------------------------------------------- */
.drone-option-background .drone-option-attachment {
	margin-bottom: 4px;
}
.drone-option-background .drone-option-select {
	min-width: 0;
}
.drone-option-background [name$="[alignment]"] {
	width: 137px;
}